<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="hc-selector">
      <select class="hc-selector-core"  onchange="this.blur()">
        <option value="">前端组</option>
        <option value="">动画组</option>
        <option value="">平面组</option>
      </select>
      <span class="hc-selector-arrow">
        <i class="iconfont icon-moreunfold"></i>
      </span>
      <span class="prefix"></span>
    </div>
    <br>
    <div class="hc-selector-conner">
      <select class="hc-selector-core"  onchange="this.blur()">
        <option value="">前端组</option>
        <option value="">动画组</option>
        <option value="">平面组</option>
      </select>
      <span class="hc-selector-arrow">
        <i class="iconfont icon-moreunfold"></i>
      </span>
      <span class="prefix"></span>
    </div>
    <br>
    <div class="hc-selector-round">
      <select class="hc-selector-core"  onchange="this.blur()">
        <option value="">前端组</option>
        <option value="">动画组</option>
        <option value="">平面组</option>
      </select>
      <span class="hc-selector-arrow">
        <i class="iconfont icon-moreunfold"></i>
      </span>
      <span class="prefix"></span>
    </div>
    <br>
    <div class="hc-selector-line">
      <select class="hc-selector-core"  onchange="this.blur()">
        <option value="">前端组</option>
        <option value="">动画组</option>
        <option value="">平面组</option>
      </select>
      <span class="hc-selector-arrow">
        <i class="iconfont icon-moreunfold"></i>
      </span>
      <span class="prefix"></span>
    </div>
    <br>
    <div class="hc-selector-outline">
      <select class="hc-selector-core"  onchange="this.blur()">
        <option value="">前端组</option>
        <option value="">动画组</option>
        <option value="">平面组</option>
      </select>
      <span class="hc-selector-arrow">
        <i class="iconfont icon-moreunfold"></i>
      </span>
      <span class="prefix"></span>
    </div>
  </div>
</body>
</html>