.btn{
  display:inline-block;
  font-size:14px;
  border:1px solid transparent;
  padding:10px 20px;
  color:#fff;
  font-family:"微软雅黑";
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  transition:0.3s;
  line-height:1;
  box-sizing:border-box;
  margin:5px 0;
}
.btn:disabled{
  opacity:0.4;
}
.btn:disabled:active{
  opacity:0.4;
}
.btn.full{
  width:100%;
  text-align:center;
}
.btn .label{
  display:inline-block;
  vertical-align: middle;
}
.btn .iconfont{
  font-size:18px;
  margin-right:5px;
  vertical-align: middle;
  display:inline-block;
}
.btn .icon-loading{
  display:none;
}
.btn.is-loading{
  opacity:0.6;
}
.btn.is-loading:active{
  opacity:0.6;
}
.is-loading .icon-loading{
  display:inline-block;
  animation: loading 1s infinite;
}
.btn.large{
  padding:14px 25px;
}
.btn.medium{
  padding:12px 20px;
}
.btn.small{
  padding:8px 10px;
}
.btn.mini{
  padding:5px 8px;
}
.is-conner{
  border-radius:5px;
}
.is-round{
  border-radius:30px;
}
.is-full{
  width:100%;
  text-align:center;
}
.btn:active{
  opacity:0.8;
}
@keyframes loading {
  from {
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
