.button{
  display:inline-block;
  font-size:14px;
  border:1px solid transparent;
  padding:10px 20px;
  color:#fff;
  font-family:"微软雅黑";
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  transition:0.3s;
  line-height:1;
  box-sizing:border-box;
  margin:5px 0;
}
/*button-group*/
.button-group{
  font-size:0;
  padding-left:1px;
}
.button-group .button{
  margin-left:1px;
}
/*is-conner*/
.button-group .is-conner{
  border-radius:0;
}
.button-group .is-conner:first-child{
  border-radius: 5px 0 0 5px;
  margin-left:-1px;
}
.button-group .is-conner:last-child{
  border-radius:0 5px 5px 0;
}
/*is-round*/
.button-group .is-round{
  border-radius:0;
}
.button-group .is-round:first-child{
  border-radius: 30px 0 0 30px;
  margin-left:-1px;
}
.button-group .is-round:last-child{
  border-radius:0 30px 30px 0;
}
/*is-plain*/
.button-group .is-plain{
  margin-left:-1px;
}
/*is-outline*/
.button-group .is-outline{
  margin-left:-1px;
}
.button:disabled{
  opacity:0.4;
}
.button:disabled:active{
  opacity:0.4;
}
.button.full{
  width:100%;
  text-align:center;
}
.button .label{
  display:inline-block;
  vertical-align: middle;
}
.button .iconfont{
  font-size:18px;
  margin-right:5px;
  vertical-align: middle;
  display:inline-block;
}
.button .icon-loading{
  display:none;
}
.button.is-loading{
  opacity:0.6;
}
.button.is-loading:active{
  opacity:0.6;
}
.is-loading .icon-loading{
  display:inline-block;
  animation: loading 1s infinite;
}
/*尺寸*/
.button.large{
  padding:14px 25px;
}
.button.medium{
  padding:12px 20px;
}
.button.small{
  padding:8px 10px;
}
.button.mini{
  padding:5px 8px;
}
.is-conner{
  border-radius:5px;
}
/*按钮样式*/
.is-round{
  border-radius:30px;
}
.is-full{
  width:100%;
  text-align:center;
}
.button:active{
  opacity:0.8;
}
@keyframes loading {
  from {
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
