/*-------------基本样式------------*/
.checkbox{
  display:inline-block;
  vertical-align: middle;
}
.checkbox input{
  display:none;
}
.checkbox .label{
  font-size:14px;
  color:#606266;
  position:relative;
  padding-left:20px;
  line-height:1;
  transition:0.3s;
  display:inline-block;
}
.checkbox .label:before{
  content:"";
  display:inline-block;
  width:16px;
  height:16px;
  border:1px solid #ccc;
  border-radius:3px;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-9px;
  box-sizing: border-box;
  transition:.3s;
}
.checkbox-list input:checked + .label{
  background:#F5F5F5;
}
.checkbox .label:after{
  content: "";
  display:table;
  width:5px;
  height:10px;
  border-top:0;
  border-left:0;
  transform:rotate(45deg) scale(0);
  -webkit-transform:rotate(45deg) scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  position:absolute;
  left:6px;
  background:none;
  border-radius:0;
  top: -1px;
}
.checkbox input:checked + .label:after{
  position: absolute;
  right:1rem;
  background:none;
  border: 1px solid #CCC;
  border-top: 0;
  border-left: 0;
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
}
.checkbox input:checked + .label:before{
  border-color:#ccc;
}
/*禁用状态*/
.checkbox input:disabled + .label{
  color:#c0c4cc;
}
.checkbox input:disabled + .label:before{
  border-color:#e4e7ed;
  background:#f5f7fa;
}
.checkbox input:disabled:checked + .label{
  color:#c0c4cc;
}
.primary.steep input:disabled:checked + .label,
.success.steep input:disabled:checked + .label,
.info.steep input:disabled:checked + .label,
.warning.steep input:disabled:checked + .label,
.danger.steep input:disabled:checked + .label{
  color:#c0c4cc;
}
.checkbox input:disabled:checked + .label:before{
  border-color:#e4e7ed;
  background:#f5f7fa;
}
.checkbox input:disabled:checked + .label:after{
  border-color:#C0C4CC;
}
.checkbox-list .checkbox input:disabled:checked + .label,
.checkbox-list.steep .checkbox input:disabled:checked + .label{
  background-color:#f5f7fa;
  color:#c0c4cc;
}
.checkbox-list .checkbox input:disabled:checked + .label:after,
.checkbox-list.steep .checkbox input:disabled:checked + .label:after{
  border-color:#c0c4cc;
  background:none;
}
.checkbox-button .checkbox input:disabled:checked + .label{
  background:#f5f7fa;
  border-color:#e4e7ed;
}
.checkbox-button.steep .checkbox input:disabled:checked + .label{
  background:#F5F7FA;
  border-color:#DCDFE6;
}
/*checkbox-list*/
.checkbox-list .checkbox{
  display:block;
  margin:0;
}
.checkbox-list .checkbox .label{
  padding-left:0;
  display:block;
  position:relative;
  padding:10px;
  border-bottom:1px solid #F2F2F2;
}
.checkbox-list .checkbox:last-child .label{
  border:none;
}
.checkbox-list .checkbox .label:before{
  display:none;
}
.checkbox-list .checkbox .label:after{
  content: "";
  display:table;
  width:6px;
  height:12px;
  border-top:0;
  border-left:0;
  transform:rotate(45deg) scale(0);
  -webkit-transform:rotate(45deg) scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  position:absolute;
  right:0;
  left:auto;
  background:none;
  border-radius:0;
}
.checkbox-list .checkbox input:checked + .label:after{
  position: absolute;
  top: 50%;
  right:1rem;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
  margin-top:-10px;
}
.checkbox-list.steep .checkbox input:checked + .label{
  background:none;
}
/*checkbox-button*/
.checkbox-button{
  font-size:0;
  padding-left:1px;
}
.checkbox-button .label{
  padding:8px 20px;
  display:inline-block;
  border:1px solid #DCDFE6;
  margin-left:-1px;
}
.checkbox-button .checkbox{
  margin:0;
}
.checkbox-button .label:before,.checkbox-button .label:after{
  display:none;
}
.checkbox-button input:checked + .label{
  color:#fff;
  z-index:100;
  border-width:1px;
  border-style:solid;
  border-top-color:#fff;
  border-bottom-color:#fff;
}
.checkbox-button.is-conner .checkbox:first-child .label{
  border-radius:5px 0 0 5px;
}
.checkbox-button.is-conner .checkbox:last-child .label{
  border-radius:0 5px 5px 0;
}
.checkbox-button.is-round .checkbox:first-child .label{
  border-radius:50px 0 0 50px;
}
.checkbox-button.is-round .checkbox:last-child .label{
  border-radius:0 50px 50px 0;
}
.checkbox-button.steep input:checked + .label{
  z-index:100;
}
.checkbox-button.primary.steep input:checked + .label,
.checkbox-button.success.steep input:checked + .label{
  background:none;
}
/*--------------------尺寸-------------*/
/*mini*/
.mini .label{
  padding-left:20px;
  font-size:12px;
}
.mini .label:before{
  width:16px;
  height:16px;
  margin-top:-8px;
}
.mini .label:after{
  width:4px;
  height:8px;
}
/*small*/
.small .label{
  padding-left:22px;
  font-size:14px;
}
.small .label:before{
  width:18px;
  height:18px;
  margin-top:-9px;
}
.small .label:after{
  width:5px;
  height:10px;
}
/*medium*/
.medium .label{
  padding-left:24px;
  font-size:15px;
}
.medium .label:before{
  width:20px;
  height:20px;
  margin-top:-10px;
}
.medium .label:after{
  width:6px;
  height:12px;
  left:6px;
}
.checkbox-button.medium .label{
  padding-right:24px;
}
/*large*/
.large .label{
  padding-left:26px;
  font-size:16px;
}
.large .label:before{
  width:22px;
  height:22px;
  margin-top:-12px;
}
.large .label:after{
  width:8px;
  height:16px;
  margin-top:-4px;
  left:7px;
}
.checkbox-button.large .label{
  padding-right:26px;
}