.date{
  height:100%;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
}
.date-head{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  border-bottom:1px solid #F5F5F5;
  padding:5px 0 5px 0;
}
.date-head-item{
  flex:1;
  -webkit-flex:1;
  display:flex;
  align-self: center;
  display:-webkit-flex;
}
.date-head-item .label{
  flex:1;
  -webkit-flex:1;
  text-align:center;
  align-self: center;
  font-size:14px;
  color:#666;
}
.date-head-item .button{
  display:inline-block;
  padding:10px;
}
.date .prev:before{
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  border:1px solid #DBDBDB;
  border-right:none;
  border-top:none;
  transform:rotate(45deg);
}
.date .next:before{
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  border:1px solid #DBDBDB;
  border-left:none;
  border-bottom:none;
  transform:rotate(45deg);
}
.date-body{
  padding:10px 0;
}
.date-body .year,.date-body .month{
  display:none;
}
.date-body,.date-body-item{
  flex:1;
  -webkit-flex:1;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  overflow:auto;
}
.date-calendar{
  width:100%;
  height:100%;
}
.date-calendar th,.date-calendar td{
  text-align:center;
  color:#616161;
  font-size:14px;
}
.date-calendar .day{
  border-radius:50%;
  display:inline-block;
  width:28px;
  height:28px;
  text-align:center;
  line-height:28px;
  border:1px solid transparent;
  position: relative;
}
.date .current{
  background:#F3563D;
  color:#fff;
}
.date .day:active{
  border-color:#F3563D;
  color:#F3563D;
}
.day.prev-month,.day.next-month{
  color:#CDCDCD;
}
.day.dot:after{
  content:"";
  display:inline-block;
  width:4px;
  height:4px;
  border-radius:50%;
  background:#F3563D;
  position: absolute;
  top:50%;
  margin-top:8px;
  left:50%;
  margin-left:-2px;
}
.year-list{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  overflow:auto;
}
.year-list li{
  display:inline-block;
  width:50%;
  text-align:center;
  padding:12px;
  box-sizing: border-box;
  border-bottom:1px solid #F5F5F5;
}
.year-list li:active{
  background:#F3563D;
  color:#fff;
}
.month-list{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  overflow:auto;
}
.month-list li{
  display:inline-block;
  width:100%;
  text-align:center;
  padding:12px;
  box-sizing: border-box;
  border-bottom:1px solid #F5F5F5;
}
.month-list li:active{
  background:#F3563D;
  color:#fff;
}
.is-year .full,.is-year .month,.is-month .full,.is-month .year{
  display:none;
}
.is-year .year,.is-month .month{
  display:block;
}