.input{
  font-size:0;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  position:relative;
  box-sizing: border-box;
}
.input input{
  font-size:1.4rem;
  padding:0.8rem 1rem;
  flex:1;
  -webkit-flex:1;
  box-sizing: border-box;
  background:none;
  border:1px solid #DCDFE6;
  transition:0.3s;
}
.input input::-webkit-input-placeholder{
  font-family: "微软雅黑";
  font-size:14px;
  color:#C0C4CC;
}
.is-conner input{
  border-radius:5px;
}
.is-round input{
  border-radius:30px;
}
.is-steep input{
  border:none;
}