.input{
  font-size:0;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  position:relative;
  box-sizing: border-box;
  width:100%;
}
.input input{
  font-size:14px;
  padding:10px 10px;
  flex:1;
  -webkit-flex:1;
  box-sizing: border-box;
  background:none;
  border:1px solid #DCDFE6;
  transition:0.3s;
}
/*fix*/
.input.is-fix input{
  padding-left:35px;
  padding-right:35px;
}
.input.is-fix .suffix,.input.is-fix .prefix{
  display:inline-block;
}
.input .suffix,.input .prefix{
  position:absolute;
  top:50%;
  box-sizing: border-box;
  transform:translate(0, -50%);
  padding:0 10px;
  font-size:0;
  display:none;
}
.input .suffix{
  right:0;
}
.input .prefix{
  left:0;
}
.input input::-webkit-input-placeholder{
  font-family: "微软雅黑";
  font-size:14px;
  color:#C0C4CC;
}
.is-conner input{
  border-radius:5px;
}
.is-round input{
  border-radius:30px;
}
.is-steep input{
  border:none;
}
.is-bottom-line input{
  border-top:none;
  border-left:none;
  border-right:none;
}
.is-outline input{
  border-top:none;
}
.is-outline:before,.is-outline:after{
  content:"";
  display:inline-block;
  width:1px;
  height:28px;
  background:#fff;
  position:absolute;
  top:0;
}
.is-outline:before{
  left:0;
}
.is-outline:after{
  right:0;
}
/*尺寸*/
/*mini*/
.mini input{
  padding:5px 10px;
}
.mini.is-outline:before,.mini.is-outline:after{
  height:18px;
}
/*small*/
.small input{
  padding:8px 10px;
}
.small.is-outline:before,.small.is-outline:after{
  height:22px;
}
/*medium*/
.medium input{
  padding:10px;
}
.medium.is-outline:before,.medium.is-outline:after{
  height:26px;
}
/*large*/
.large input{
  padding:12px 10px;
}
.large.is-outline:before,.large.is-outline:after{
  height:30px;
}