/*-------------基本样式------------*/
.radio{
  display:inline-block;
  vertical-align: middle;
  position:relative;
}
.radio input{
  display:none;
}
.radio .label{
  font-size:14px;
  color:#606266;
  position:relative;
  padding-left:20px;
  line-height:1;
  transition:0.3s;
  display:inline-block;
}
.radio .label:before{
  content:"";
  display:inline-block;
  width:18px;
  height:18px;
  border:1px solid #ccc;
  border-radius:50%;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-9px;
  box-sizing: border-box;
  transition:.3s;
}
.radio .label:after{
  content:"";
  display:inline-block;
  border-radius:50%;
  position:absolute;
  width:10px;
  height:10px;
  background:#ccc;
  left:4px;
  top:50%;
  opacity:0;
  margin-top:-5px;
  -webkit-transform:scale(0);
  transform:scale(0);
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
}
.radio input:checked + .label:after{
  opacity:1;
  -webkit-transform: scale(1);
  transform:scale(1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.radio input:checked + .label:before{
  border-color:#ccc;
}
/*禁用状态*/
.radio input:disabled + .label{
  color:#c0c4cc;
}
.radio input:disabled + .label:before{
  border-color:#e4e7ed;
  background:#f5f7fa;
}
.radio input:disabled:checked + .label{
  color:#c0c4cc;
}
.primary.is-steep input:disabled:checked + .label,
.success.is-steep input:disabled:checked + .label,
.info.is-steep input:disabled:checked + .label,
.warning.is-steep input:disabled:checked + .label,
.danger.is-steep input:disabled:checked + .label{
  color:#c0c4cc;
}
.radio input:disabled:checked + .label:before{
  border-color:#e4e7ed;
  background:#f5f7fa;
}
.radio input:disabled:checked + .label:after{
  background:#C0C4CC;
}
.radio-list .radio input:disabled:checked + .label,
.radio-list.is-steep .radio input:disabled:checked + .label{
  background-color:#f5f7fa;
  color:#c0c4cc;
}
.radio-list .radio input:disabled:checked + .label:after,
.radio-list.is-steep .radio input:disabled:checked + .label:after{
  border-color:#c0c4cc;
  background:none;
}
.radio-button .radio input:disabled:checked + .label{
  background:#f5f7fa;
  border-color:#e4e7ed;
}
.radio-button.is-steep .radio input:disabled:checked + .label{
  background:#F5F7FA;
}
/*radio-list*/
.radio-list .radio{
  display:block;
}
.radio-list .radio .label{
  padding-left:0;
  display:block;
  position:relative;
  padding:10px;
  border-bottom:1px solid #DCDFE6;
}
.radio-list .radio:last-child .label{
  border:none;
}
.radio-list .radio .label:before{
  display:inline-block;
  left:auto;
  right:10px;
}
.radio-list .radio .label:after{
  display:table;
  width:6px;
  height:12px;
  border-top:0;
  border-left:0;
  transform:rotate(45deg) scale(0);
  -webkit-transform:rotate(45deg) scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  position:absolute;
  left:auto;
  background:none;
  border-radius:0;
}
.radio-list .radio input:checked + .label:after{
  width: 6px;
  height:12px;
  position: absolute;
  top: 50%;
  right:16px;
  border: 1px solid #fff;
  border-top: 0;
  border-left: 0;
  border-color:#fff;
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
  margin-top:-10px;
}
.radio-list.is-steep .radio input:checked + .label{
  background:none;
}
/*radio-button*/
.radio-button{
  font-size:0;
  padding-left:1px;
}
.radio-button .label{
  padding:8px 20px;
  display:inline-block;
  border:1px solid #DCDFE6;
  margin-left:-1px;
}
.radio-button .radio{
  margin:0;
}
.radio-button .label:before,.radio-button .label:after{
  display:none;
}
.radio-button input:checked + .label{
  color:#fff;
  z-index:100;
}
.radio-button.is-conner .radio:first-child .label{
  border-radius:5px 0 0 5px;
}
.radio-button.is-conner .radio:last-child .label{
  border-radius:0 5px 5px 0;
}
.radio-button.is-round .radio:first-child .label{
  border-radius:50px 0 0 50px;
}
.radio-button.is-round .radio:last-child .label{
  border-radius:0 50px 50px 0;
}
.radio-button.is-steep input:checked + .label{
  z-index:100;
}
.radio-button.primary.is-steep input:checked + .label,
.radio-button.success.is-steep input:checked + .label{
  background:none;
}
/*radio-tab*/
.radio-tab.is-steep{
  border:none;
}
.radio-tab.is-steep .label{
  border:none;
}
.radio-tab{
  border-bottom:1px solid #DCDFE6;
}
.radio-tab .radio{
  margin-right:5px;
}
.radio-tab .label{
  padding:10px 1em;
  border-bottom:2px solid transparent;
  position:relative;
  top:1px;
}
.radio-tab .label:before,.radio-tab .label:after{
  display:none;
}
.radio-tab.full{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
}
.radio-tab.full .radio{
  flex:1;
  -webkit-flex: 1;
  text-align:center;
}
.radio-tab.vertical{
  border:none;
}
.radio-tab.vertical .radio{
  display:block;
  border-bottom:1px solid #DCDFE6;
}
.radio-tab.vertical .label{
  display:block;
}
.radio-tab.vertical.primary .label:after{
  content:"";
  width:10px;
  height:10px;
  border-radius:0;
  border-color:#DCDFE6;
  background:none;
  position:absolute;
  right:10px;
  left:auto;
  top:50%;
  margin-top:-5px;
  border-style: solid;
  border-width:0;
  border-right-width: 1px;
  border-bottom-width:1px;
  transform:rotate(-45deg);
  display:inline-block;
  opacity:1;
}
.radio-tab .dot:after{
  content:"";
  display:inline-block;
  width:5px;
  height:5px;
  background:#f00;
  border-radius:50%;
  position:absolute;
  right:0;
  top:0;
}
.radio-tab .badge:after{
  content:attr(total);
  display:inline-block;
  background:#f00;
  color:#fff;
  padding:0 5px;
  height:14px;
  line-height:15px;
  border-radius:10px;
  position:absolute;
  left:80%;
  top:0;
  font-size:10px;
}
.radio-tab.vertical .badge:after{
  top:50%;
  transform:translateY(-50%);
  left:auto;
  right:30px;
}
/*--------------------尺寸-------------*/
/*mini*/
.mini .label{
  padding-left:20px;
  font-size:12px;
}
.mini .label:before{
  width:16px;
  height:16px;
  margin-top:-8px;
}
.mini .label:after{
  width:8px;
  height:8px;
  margin-top:-4px;
}
/*small*/
.small .label{
  padding-left:22px;
  font-size:14px;
}
.small .label:before{
  width:18px;
  height:18px;
  margin-top:-9px;
}
.small .label:after{
  width:10px;
  height:10px;
  margin-top:-5px;
}
.radio-button.small .label{
  padding-right:22px;
}
/*medium*/
.medium .label{
  padding-left:24px;
  font-size:15px;
}
.medium .label:before{
  width:20px;
  height:20px;
  margin-top:-10px;
}
.medium .label:after{
  width:12px;
  height:12px;
  margin-top:-6px;
}
.radio-button.medium .label{
  padding-right:24px;
}
/*large*/
.large .label{
  padding-left:26px;
  font-size:16px;
}
.large .label:before{
  width:24px;
  height:24px;
  margin-top:-12px;
}
.large .label:after{
  width:16px;
  height:16px;
  margin-top:-8px;
}
.radio-button.large .label{
  padding-right:26px;
}
.radio-list.large input:checked + .label:after{
  right:18px;
}