.selector{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  position: relative;
}
.selector-core{
  -webkit-appearance: none;
  flex:1;
  background:none;
  padding:10px;
  border:1px solid rgba(220,223,230,1);
  border-radius:0;
  color:rgba(96,98,102,1);
}
.selector-arrow{
  display:inline-block;
  width:10px;
  height:10px;
  border:1px solid rgba(220,223,230,1);
  border-top:none;
  border-left:none;
  transform:translate(-50%,-75%) rotate(45deg);
  position: absolute;
  right:10px;
  top:50%;
  transition:0.3s;
  transform-origin: 75% 75%;
  -webkit-transform-origin: 75% 75%;
}
.primary .selector-core:focus + .selector-arrow{
  transform:translate(-50%,-75%) rotate(-135deg);
}
.is-conner .selector-core{
  border-radius:5px;
}
.is-round .selector-core{
  border-radius:30px;
}
.is-line .selector-core{
  border-top:none;
  border-left:none;
  border-right:none;
}
.is-outline .selector-core{
  border-top:none;
}
/* is-line共用input */
/* 不同尺寸 */
/* mini */
.mini select{
  padding:5px 10px;
}
.mini.is-outline:before,.mini.is-outline:after{
  height:18px;
}
/*small*/
.small select{
  padding:8px 10px;
}
.small.is-outline:before,.small.is-outline:after{
  height:22px;
}
/*medium*/
.medium select{
  padding:10px;
}
.medium.is-outline:before,.medium.is-outline:after{
  height:26px;
}
/*large*/
.large select{
  padding:12px 10px;
}
.large.is-outline:before,.large.is-outline:after{
  height:30px;
}