.tag{
  display:inline-block;
  border-radius:3px;
  border:1px solid transparent;
  color:rgba(255,255,255,1);
}
.tag-label{
  font-weight:normal;
  display:inline-block;
  padding:5px 10px;
  font-size:12px;
}
/* 不同大小 */
.mini .tag-label{
  padding:2px 4px;
}
.small .tag-label{
  padding:4px 7px;
}
.medium .tag-label{
  padding:7px 12px;
}
.large .tag-label{
  padding:8px 15px;
}