:root{
  /* 全局变量 */
  --primary: rgba(64,158,255,1);
  --success: rgba(103,194,58,1);
  --info: rgba(144,147,153,1);
  --warning: rgba(230,162,60,1);
  --danger: rgba(245,108,108,1);
}
/*--------------------radio主题----------------------*/
.radio-tab.primary.is-steep input:checked + .label,
.radio-tab.success.is-steep input:checked + .label,
.radio-tab.info.is-steep input:checked + .label,
.radio-tab.warning.is-steep input:checked + .label,
.radio-tab.danger.is-steep input:checked + .label{
  border:none;
}
/*primary*/
.primary .label:after{
  background:rgba(64,158,255,1);
}
.primary input:checked + .label:before{
  border-color:rgba(64,158,255,1);
}
.primary.is-steep input:checked + .label{
  color:rgba(64,158,255,1);
}
.radio-list.primary input:checked + .label{
  background:rgba(64,158,255,0.3);
  color:rgba(64,158,255,1);
}
.radio-list.primary .is-steep input:checked + .label{
  color:rgba(64,158,255,1);
}
.radio-list.primary .is-steep input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
.radio-button.primary input:checked + .label{
  background-color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,1);
}
.radio-tab.primary input:checked + .label{
  color:rgba(64,158,255,1);
  border-bottom-color:rgba(64,158,255,1);
}
.radio-tab.vertical.primary input:checked + .label{
  border-color:transparent;
}
.radio-tab.vertical.primary input:checked + .label:after{
  border-color:rgba(64,158,255,1);
}
.radio-list.primary input:checked + .label:before{
  background:rgba(64,158,255,1);
}
.radio-list.primary input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
/*success*/
.success .label:after{
  background:rgba(103,194,58,1);
}
.success input:checked + .label:before{
  border-color:rgba(103,194,58,1);
}
.success.is-steep input:checked + .label{
  color:rgba(103,194,58,1);
}
.radio-list.success input:checked + .label{
  background:rgba(103,194,58,0.3);
  color:rgba(103,194,58,1);
}
.radio-list.success .is-steep input:checked + .label{
  color:rgba(103,194,58,1);
}
.radio-list.success .is-steep input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
.radio-button.success input:checked + .label{
  background:rgba(103,194,58,1);
  border-color:rgba(103,194,58,1);
}
.radio-tab.success input:checked + .label{
  color:rgba(103,194,58,1);
  border-bottom-color:rgba(103,194,58,1);
}
.radio-tab.vertical.success input:checked + .label:after{
  border-color:rgba(103,194,58,1);
}
.radio-list.success input:checked + .label:before{
  background:rgba(103,194,58,1);
}
.radio-list.success input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
/*info*/
.info .label:after{
  background:rgba(144,147,153,1);
}
.info input:checked + .label:before{
  border-color:rgba(144,147,153,1);
}
.info.is-steep input:checked + .label{
  color:rgba(144,147,153,1);
}
.radio-list.info input:checked + .label{
  background:rgba(144,147,153,0.3);
  color:rgba(144,147,153,1);
}
.radio-list.info .is-steep input:checked + .label{
  color:rgba(144,147,153,1);
}
.radio-list.info .is-steep input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
.radio-button.info input:checked + .label{
  background:rgba(144,147,153,1);
  border-color:rgba(144,147,153,1);
}
.radio-tab.info input:checked + .label{
  color:rgba(144,147,153,1);
  border-bottom-color:rgba(144,147,153,1);
}
.radio-tab.vertical.info input:checked + .label:after{
  border-color:rgba(144,147,153,1);
}
.radio-list.info input:checked + .label:before{
  background:rgba(144,147,153,1);
}
.radio-list.info input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
/*warning*/
.warning .label:after{
  background:rgba(230,162,60,1);
}
.warning input:checked + .label:before{
  border-color:rgba(230,162,60,1);
}
.warning.is-steep input:checked + .label{
  color:rgba(230,162,60,1);
}
.radio-list.warning input:checked + .label{
  background:rgba(230,162,60,0.3);
  color:rgba(230,162,60,1);
}
.radio-list.warning .is-steep input:checked + .label{
  color:rgba(230,162,60,1);
}
.radio-list.warning .is-steep input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
.radio-button.warning input:checked + .label{
  background:rgba(230,162,60,1);
  border-color:rgba(230,162,60,1);
}
.radio-tab.warning input:checked + .label{
  color:rgba(230,162,60,1);
  border-bottom-color:rgba(230,162,60,1);
}
.radio-tab.vertical.warning input:checked + .label:after{
  border-color:rgba(230,162,60,1);
}
.radio-list.warning input:checked + .label:before{
  background:rgba(230,162,60,1);
}
.radio-list.warning input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
/*danger*/
.danger .label:after{
  background:rgba(245,108,108,1);
}
.danger input:checked + .label:before{
  border-color:rgba(245,108,108,1);
}
.danger.is-steep input:checked + .label{
  color:rgba(245,108,108,1);
}
.radio-list.danger input:checked + .label{
  background:rgba(245,108,108,0.3);
  color:rgba(245,108,108,1);
}
.radio-list.danger .is-steep input:checked + .label{
  color:rgba(245,108,108,1);
}
.radio-list.danger .is-steep input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
.radio-button.danger input:checked + .label{
  background:rgba(245,108,108,1);
  border-color:rgba(245,108,108,1);
}
.radio-tab.danger input:checked + .label{
  color:rgba(245,108,108,1);
  border-bottom-color:rgba(245,108,108,1);
}
.radio-tab.vertical.danger input:checked + .label:after{
  border-color:rgba(245,108,108,1);
}
.radio-list.danger input:checked + .label:before{
  background:rgba(245,108,108,1);
}
.radio-list.danger input:checked + .label:after{
  border-color:rgba(255,255,255,1);
}
/*------------------checkbox主题-----------------*/
/*primary*/
.primary input:checked + .label:after{
  border-color:rgba(64,158,255,1);
}
.checkbox-list.primary input:checked + .label{
  color:rgba(64,158,255,1);
}
.checkbox-list.primary input:checked + .label:after {
  border-color:rgba(64,158,255,1);
}
.checkbox-button.primary input:checked + .label{
  background:rgba(64,158,255,1);
  border-top-color:rgba(64,158,255,1);
  border-bottom-color:rgba(64,158,255,1);
}
.checkbox-button.is-steep.primary input:checked + .label{
  border-color:rgba(64,158,255,1);
}
/*success*/
.success input:checked + .label:after{
  border-color:rgba(103,194,58,1);
}
.checkbox-list.success input:checked + .label{
  color:rgba(103,194,58,1);
}
.checkbox-list.success input:checked + .label:after {
  border-color:rgba(103,194,58,1);
}
.checkbox-button.success input:checked + .label{
  background:rgba(103,194,58,1);
  border-top-color:rgba(103,194,58,1);
  border-bottom-color:rgba(103,194,58,1);
}
.checkbox-button.is-steep.success input:checked + .label{
  border-color:rgba(103,194,58,1);
}
/*info*/
.info input:checked + .label:after{
  border-color:rgba(144,147,153,1);
}
.checkbox-list.info input:checked + .label{
  color:rgba(144,147,153,1);
}
.checkbox-list.info input:checked + .label:after {
  border-color:rgba(144,147,153,1);
}
.checkbox-button.info input:checked + .label{
  background:rgba(144,147,153,1);
  border-top-color:rgba(144,147,153,1);
  border-bottom-color:rgba(144,147,153,1);
}
.checkbox-button.is-steep.info input:checked + .label{
  border-color:rgba(144,147,153,1);
}
/*warning*/
.warning input:checked + .label:after{
  border-color:rgba(230,162,60,1);
}
.checkbox-list.warning input:checked + .label{
  color:rgba(230,162,60,1);
}
.checkbox-list.warning input:checked + .label:after {
  border-color:rgba(230,162,60,1);
}
.checkbox-button.warning input:checked + .label{
  background:rgba(230,162,60,1);
  border-top-color:rgba(230,162,60,1);
  border-bottom-color:rgba(230,162,60,1);
}
.checkbox-button .is-steep.warning input:checked + .label{
  border-color:rgba(230,162,60,1);
}
/*danger*/
.danger input:checked + .label:after{
  border-color:rgba(245,108,108,1);
}
.checkbox-list.danger input:checked + .label{
  color:rgba(245,108,108,1);
}
.checkbox-list.danger input:checked + .label:after {
  border-color:rgba(245,108,108,1);
}
.checkbox-button.danger input:checked + .label{
  background:rgba(245,108,108,1);
  border-top-color:rgba(245,108,108,1);
  border-bottom-color:rgba(245,108,108,1);
}
.checkbox-button.is-steep.danger input:checked + .label{
  border-color:rgba(245,108,108,1);
}
/*--------------------------------按钮主题----------------------*/
/*default*/
.button.default{
  background-color:rgba(96,98,102,0.2);
  border-color:rgba(96,98,102,0.2);
  color:rgba(96,98,102,1);
}
.default.is-plain{
  background:rgba(255,255,255,1);
}
.default.is-outline{
  background:rgba(255,255,255,1);
}
.default.is-text{
  background:none;
  border:none;
  color:rgba(96,98,102,1);
}
/*primary*/
.button.primary{
  background-color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,1);
}
.button.is-plain.primary{
  background-color:rgba(64,158,255,0.2);
  color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,0.5);
}
.button.is-plain.primary:enabled:active{
  background:rgba(64,158,255,1);
  color:rgba(255,255,255,1);
}
.button.primary.is-outline{
  background:rgba(255,255,255,1);
  color:rgba(64,158,255,1);
}
.primary.is-outline:enabled:active{
  background:rgba(64,158,255,0.2);
}
.primary.is-text{
  background:none;
  border:none;
  color:rgba(64,158,255,1);
}
/*success*/
.button.success{
  background-color:rgba(103,194,58,1);
  border-color:rgba(103,194,58,1);
}
.button.is-plain.success{
  background-color:rgba(103,194,58,0.2);
  color:rgba(103,194,58,1);
  border-color:rgba(103,194,58,0.5);
}
.button.is-plain.success:enabled:active{
  background:rgba(103,194,58,1);
  color:rgba(255,255,255,1);
}
.button.success.is-outline{
  background:rgba(255,255,255,1);
  color:rgba(103,194,58,1);
}
.success.is-outline:enabled:active{
  background:rgba(103,194,58,0.2);
}
.success.is-text{
  background:none;
  border:none;
  color:rgba(103,194,58,1);
}
/*info*/
.button.info{
  background-color:rgba(144,147,153,1);
  border-color:rgba(144,147,153,1);
}
.button.is-plain.info{
  background-color:rgba(144,147,153,0.2);
  color:rgba(144,147,153,1);
  border-color:rgba(144,147,153,0.5);
}
.button.is-plain.info:enabled:active{
  background:rgba(144,147,153,1);
  color:rgba(255,255,255,1);
}
.button.info.is-outline{
  background:rgba(255,255,255,1);
  color:rgba(144,147,153,1);
}
.info.is-outline:enabled:active{
  background:rgba(144,147,153,0.2);
}
.info.is-text{
  background:none;
  border:none;
  color:rgba(144,147,153,1);
}
/*warning*/
.button.warning{
  background-color:rgba(230,162,60,1);
  border-color:rgba(230,162,60,1);
}
.button.is-plain.warning{
  background-color:rgba(230,162,60,0.2);
  color:rgba(230,162,60,1);
  border-color:rgba(230,162,60,0.5);
}
.button.is-plain.warning:enabled:active{
  background:rgba(230,162,60,1);
  color:rgba(255,255,255,1);
}
.button.warning.is-outline{
  background:rgba(255,255,255,1);
  color:rgba(230,162,60,1);
}
.warning.is-outline:enabled:active{
  background:rgba(230,162,60,0.2);
}
.warning.is-text{
  background:none;
  border:none;
  color:rgba(230,162,60,1);
}
/*danger*/
.button.danger{
  background-color:rgba(245,108,108,1);
  border-color:rgba(245,108,108,1);
}
.button.is-plain.danger{
  background-color:rgba(245,108,108,0.2);
  color:rgba(245,108,108,1);
  border-color:rgba(245,108,108,0.5);
}
.button.is-plain.danger:enabled:active{
  background:rgba(245,108,108,1);
  color:rgba(255,255,255,1);
}
.button.danger.is-outline{
  background:rgba(255,255,255,1);
  color:rgba(245,108,108,1);
}
.danger.is-outline:enabled:active{
  background:rgba(245,108,108,0.2);
}
.danger.is-text{
  background:none;
  border:none;
  color:rgba(245,108,108,1);
}

/*---------------------------输入框--------------------------*/
/*primary*/
.primary input:focus{
  border-color:rgba(64,158,255,0.6);
}
.is-plain.primary input{
  background-color:rgba(64,158,255,0.03);
  border-color:rgba(64,158,255,0.4);
}
.is-plain.primary input::-webkit-input-placeholder{
  color:rgba(64,158,255,0.5);
}
.is-plain.primary input:focus{
  background-color:rgba(64,158,255,0.08);
  border-color:rgba(64,158,255,0.3);
}
.is-steep.primary input:focus{
  background-color:rgba(64,158,255,0.05);
}
.primary.is-plain .prefix,.primary.is-plain .suffix{
  color:rgba(64,158,255,0.9);
}
.primary input:focus + .prefix,.primary input:focus + .prefix + .suffix{
  color:rgba(64,158,255,1)
}
/*success*/
.success input:focus{
  border-color:rgba(103,194,58,0.6);
}
.is-plain.success input{
  background-color:rgba(103,194,58,0.03);
  border-color:rgba(103,194,58,0.4);
}
.is-plain.success input::-webkit-input-placeholder{
  color:rgba(103,194,58,0.5);
}
.is-plain.success input:focus{
  background-color:rgba(103,194,58,0.08);
  border-color:rgba(103,194,58,0.3);
}
.is-steep.success input:focus{
  background-color:rgba(103,194,58,0.05);
}
.success.is-plain .prefix,.success.is-plain .suffix{
  color:rgba(103,194,58,0.9);
}
.success input:focus + .prefix,.success input:focus + .prefix + .suffix{
  color:rgba(103,194,58,1)
}
/*info*/
.info input:focus{
  border-color:rgba(144,147,153,0.6);
}
.is-plain.info input{
  background-color:rgba(144,147,153,0.03);
  border-color:rgba(144,147,153,0.4);
}
.is-plain.info input::-webkit-input-placeholder{
  color:rgba(144,147,153,0.5);
}
.is-plain.info input:focus{
  background-color:rgba(144,147,153,0.08);
  border-color:rgba(144,147,153,0.3);
}
.is-steep.info input:focus{
  background-color:rgba(144,147,153,0.05);
}
.info.is-plain .prefix,.info.is-plain .suffix{
  color:rgba(144,147,153,0.9);
}
.info input:focus + .prefix,.info input:focus + .prefix + .suffix{
  color:rgba(144,147,153,1)
}
/*warning*/
.warning input:focus{
  border-color:rgba(230,162,60,0.6);
}
.is-plain.warning input{
  background-color:rgba(230,162,60,0.03);
  border-color:rgba(230,162,60,0.2);
}
.is-plain.warning input::-webkit-input-placeholder{
  color:rgba(230,162,60,0.5);
}
.is-plain.warning input:focus{
  background-color:rgba(230,162,60,0.08);
  border-color:rgba(230,162,60,0.3);
}
.is-steep.warning input:focus{
  background-color:rgba(230,162,60,0.05);
}
.warning.is-plain .prefix,.warning.is-plain .suffix{
  color:rgba(230,162,60,0.9);
}
.warning input:focus + .prefix,.warning input:focus + .prefix + .suffix{
  color:rgba(230,162,60,1)
}
/*danger*/
.danger input:focus{
  border-color:rgba(245,108,108,0.6);
}
.is-plain.danger input{
  background-color:rgba(245,108,108,0.03);
  border-color:rgba(245,108,108,0.2);
}
.is-plain.danger input::-webkit-input-placeholder{
  color:rgba(245,108,108,0.5);
}
.is-plain.danger input:focus{
  background-color:rgba(245,108,108,0.08);
  border-color:rgba(245,108,108,0.3);
}
.is-steep.danger input:focus{
  background-color:rgba(245,108,108,0.05);
}
.danger.is-plain .prefix,.danger.is-plain .suffix{
  color:rgba(245,108,108,0.9);
}
.danger input:focus + .prefix,.danger input:focus + .prefix + .suffix{
  color:rgba(245,108,108,1)
}

/*--------------switch-------------*/
/*primary*/
.primary .switch-input:checked + .switch-core{
  background-color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,1);
}
.primary .switch-input:checked + .switch-core + .on{
  color:rgba(64,158,255,1);
}
/*success*/
.success .switch-input:checked + .switch-core{
  background-color:rgba(103,194,58,1);
  border-color:rgba(103,194,58,1);
}
.success .switch-input:checked + .switch-core + .on{
  color:rgba(103,194,58,1);
}
/*info*/
.info .switch-input:checked + .switch-core{
  background-color:rgba(144,147,153,1);
  border-color:rgba(144,147,153,1);
}
.info .switch-input:checked + .switch-core + .on{
  color:rgba(144,147,153,1);
}
/*warning*/
.warning .switch-input:checked + .switch-core{
  background-color:rgba(230,162,60,1);
  border-color:rgba(230,162,60,1);
}
.warning .switch-input:checked + .switch-core + .on{
  color:rgba(230,162,60,1);
}
/*danger*/
.danger .switch-input:checked + .switch-core{
  background-color:rgba(245,108,108,1);
  border-color:rgba(245,108,108,1);
}
.danger .switch-input:checked + .switch-core + .on{
  color:rgba(245,108,108,1);
}
/* ----------selector下拉框--------------- */
/* primary */
.primary .selector-core:focus{
  border-color:rgba(64,158,255,1);
}
.primary .selector-core:focus + .selector-arrow{
  border-color:rgba(64,158,255,1);
}
/* success */
.success .selector-core:focus{
  border-color:rgba(103,194,58,1);
}
.success .selector-core:focus + .selector-arrow{
  border-color:rgba(103,194,58,1);
}
/* info */
.info .selector-core:focus{
  border-color:rgba(144,147,153,1);
}
.info .selector-core:focus + .selector-arrow{
  border-color:rgba(144,147,153,1);
}
/* warning */
.warning .selector-core:focus{
  border-color:rgba(230,162,60,1);
}
.warning .selector-core:focus + .selector-arrow{
  border-color:rgba(230,162,60,1);
}
/* danger */
.danger .selector-core:focus{
  border-color:rgba(245,108,108,1);
}
.danger .selector-core:focus + .selector-arrow{
  border-color:rgba(245,108,108,1);
}

/* tag标签 */
/* primary */
.tag.primary{
  background:rgba(64,158,255,1);
}
.tag.primary.is-plain{
  border-color:rgba(64,158,255,0.5);
  color:rgba(64,158,255,1);
  background:rgba(64,158,255,0.2);
}
.tag.primary.is-outline{
  background:none;
  color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,0.5);
}
/* success */
.tag.success{
  background:rgba(103,194,58,1);
}
.tag.success.is-plain{
  border-color:rgba(103,194,58,0.5);
  color:rgba(103,194,58,1);
  background:rgba(103,194,58,0.2);
}
.tag.success.is-outline{
  background:none;
  color:rgba(103,194,58,1);
  border-color:rgba(103,194,58,0.5);
}
/* info */
.tag.info{
  background:rgba(144,147,153,1);
}
.tag.info.is-plain{
  border-color:rgba(144,147,153,0.5);
  color:rgba(144,147,153,1);
  background:rgba(144,147,153,0.2);
}
.tag.info.is-outline{
  background:none;
  color:rgba(144,147,153,1);
  border-color:rgba(144,147,153,0.5);
}
/* warning */
.tag.warning{
  background:rgba(230,162,60,1);
}
.tag.warning.is-plain{
  border-color:rgba(230,162,60,0.5);
  color:rgba(230,162,60,1);
  background:rgba(230,162,60,0.2);
}
.tag.warning.is-outline{
  background:none;
  color:rgba(230,162,60,1);
  border-color:rgba(230,162,60,0.5);
}
/* danger */
.tag.danger{
  background:rgba(245,108,108,1);
}
.tag.danger.is-plain{
  border-color:rgba(245,108,108,0.5);
  color:rgba(245,108,108,1);
  background:rgba(245,108,108,0.2);
}
.tag.danger.is-outline{
  background:none;
  color:rgba(245,108,108,1);
  border-color:rgba(245,108,108,0.5);
}

/* ----------------title---------------- */
.primary .title-col > .label{
  color:rgba(64,158,255,1);
  border-color:rgba(64,158,255,1);
}
.success .title-col > .label{
  color:rgba(103,194,58,1);
  border-color:rgba(103,194,58,1);
}
.warning .title-col > .label{
  color:rgba(230,162,60,1);
  border-color:rgba(230,162,60,1);
}
.danger .title-col > .label{
  color:rgba(245,108,108,1);
  border-color:rgba(245,108,108,1);
}