.title{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  border-bottom:1px solid #EFEFEF;
}
.title .title-col > .label{
  font-size:16px;
  padding:12px 5px;
  font-weight:normal;
}
.title-col{
  align-items:center;
  -webkit-align-items:center;
  align-self:center;
  -webkit-align-self:center;
}
.title-col:nth-child(2){
  flex:1;
  -webkit-flex:1;
  padding-left:10px;
}
.title .radio-tab{
  border:none;
}
.title.is-subline .label{
  border-bottom:2px solid transparent;
  position: relative;
  top:1px;
}