.hc-button,
.hc-button-conner,
.hc-button-round,
.hc-button-outline,
.hc-button-text,
.hc-button-circle{
  display:inline-flex;
  display:-webkit-inline-flex;
  flex-direction: row;
  border-style:solid;
  border-color:transparent;
  padding:0 1rem;
  height:1.8rem;
  color:#fff;
  justify-content: center;
  align-items:center;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  box-sizing:border-box;
}
.hc-button-icon,.hc-button-label{
  pointer-events:none;
  font-size:0.7rem;
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
}
.hc-button-label:empty{
  padding:0;
}
.hc-button-icon .hc-iconfont{
  font-size:0.9rem;
}
.hc-button:active,
.hc-button-conner:active,
.hc-button-round:active,
.hc-button-outline:active,
.hc-button-circle:active{
  opacity:0.7;
}
/* 圆角按钮 */
.hc-button-conner{
  border-radius:0.2rem;
}
/* 弧形按钮 */
.hc-button-round{
  border-radius:20px;
}
/* 线条按钮 */
.hc-button-outline{
  border-width:1px;
}
/* 通栏按钮 */
.hc-button-full{
  width:100%;
  justify-content: center;
}
/* 圆形按钮 */
.hc-button-circle{
  border-radius:50%;
  font-size:1.4rem;
  padding:0;
  width:1.8rem;
}
/* 按钮禁用 */
.hc-button:disabled,
.hc-button-conner:disabled,
.hc-button-round:disabled,
.hc-button-outline:disabled{
  opacity:0.5;
}
/* 不同尺寸 */
.hc-button-mini{
  padding:0 0.5rem;
  height:1.3rem;
}
.hc-button-circle.hc-button-mini{
  width:1.5rem;
  height:1.5rem;
}
.hc-button-small{
  padding:0 0.7rem;
  height:1.6rem;
}
.hc-button-circle.hc-button-small{
  width:2rem;
  height:2rem;
  padding:0.2rem;
}
.hc-button-medium{
  padding:0 1.2rem;
  height:2rem;
}
.hc-button-circle.hc-button-medium{
  width:2.5rem;
  height:2.5rem;
  padding:0.2rem;
}
.hc-button-large{
  padding:0 1.5rem;
  height:2.2rem;
}
.hc-button-circle.hc-button-large{
  width:3rem;
  height:3rem;
  padding:0.5rem;
}