/* switch */
.hc-form-switch .hc-form-frame{
  display: inline-block;
  position: relative;
  width: 2.1rem;
  height: 1.1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  background: #2296E7;
}
.hc-form-switch .hc-form-frame:before,
.hc-form-switch .hc-form-frame:after{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  border-radius: 1rem;
}
.hc-form-switch .hc-form-frame:before{
  width: 2rem;
  height: 1rem;
  background: #ccc;
}
.hc-form-switch .hc-form-frame:after{
  width: 1rem;
  height: 1rem;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

/* class控制选中 */
.hc-form-checkbox-active .hc-icon-checkbox{
  transform:scale(0.8);
}
.hc-form-switch-active  .hc-form-frame:before{
  -webkit-transform:scale(0);
  transform:scale(0);
}
.hc-form-switch-active .hc-form-frame:after{
  -webkit-transform:translateX(1rem);
  transform:translateX(1rem);
}

/* 主题抽离 */
.hc-primary.hc-form-switch .hc-form-frame{
  background-color:#2D8CF0;
}
.hc-success.hc-form-switch .hc-form-frame{
  background-color:#19BE6B;
}
.hc-info.hc-form-switch .hc-form-frame{
  background-color:#2DB7F5;
}
.hc-warning.hc-form-switch .hc-form-frame{
  background-color:#FF9900;
}
.hc-danger.hc-form-switch .hc-form-frame{
  background-color:#ED3F14;
}