<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>checkbox</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r1" class="hc-checkbox">
        <input class="hc-checkbox-input" checked type="checkbox" id="r1" name="r">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">男</span>
      </label>
      <label for="r2" class="hc-checkbox">
        <input class="hc-checkbox-input" checked type="checkbox" id="r2" name="r">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">女</span>
      </label>
      <label for="r3" class="hc-checkbox hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r3" name="r">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">不详</span>
      </label>
    </div>
  </div>
  <h1 class="t">矩形单选框</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r4" class="hc-checkbox-rect hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r4" name="r1">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">男</span>
      </label>
      <label for="r5" class="hc-checkbox-rect">
        <input class="hc-checkbox-input" checked type="checkbox" id="r5" name="r1">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">女</span>
      </label>
      <label for="r6" class="hc-checkbox-rect hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r6" name="r1">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">不详</span>
      </label>
    </div>
  </div>
  <h1 class="t">边框单选</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r7" class="hc-checkbox-outline">
        <input class="hc-checkbox-input" checked type="checkbox" id="r7" name="r2">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">男</span>
      </label>
      <label for="r8" class="hc-checkbox-outline">
        <input class="hc-checkbox-input" checked type="checkbox" id="r8" name="r2">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">女</span>
      </label>
      <label for="r9" class="hc-checkbox-outline hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r9" name="r2">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">不详</span>
      </label>
    </div>
  </div>
  <h1 class="t">沉浸式</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r10" class="hc-checkbox hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r10" name="r3">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">男</span>
      </label>
      <label for="r11" class="hc-checkbox hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r11" name="r3">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">女</span>
      </label>
      <label for="r12" class="hc-checkbox hc-steep hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r12" name="r3">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">不详</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选按钮</h1>
  <div class="content">
    <label for="r13" class="hc-checkbox-button">
      <input class="hc-checkbox-input" checked type="checkbox" id="r13" name="r4">
      <span class="hc-checkbox-core"></span>
      <span class="hc-checkbox-label">是</span>
    </label>
    <label for="r14" class="hc-checkbox-button hc-checkbox-success">
      <input class="hc-checkbox-input" checked type="checkbox" id="r14" name="r4">
      <span class="hc-checkbox-core"></span>
      <span class="hc-checkbox-label">否</span>
    </label>
  </div>
  <h1 class="t">单选按钮</h1>
  <div class="content">
    <label for="r15" class="hc-checkbox-button hc-steep">
      <input class="hc-checkbox-input" checked type="checkbox" id="r15" name="r5">
      <span class="hc-checkbox-core"></span>
      <span class="hc-checkbox-label">是</span>
    </label>
    <label for="r16" class="hc-checkbox-button hc-steep hc-checkbox-success">
      <input class="hc-checkbox-input" checked type="checkbox" id="r16" name="r5">
      <span class="hc-checkbox-core"></span>
      <span class="hc-checkbox-label">否</span>
    </label>
  </div>
  <h1 class="t">单选按钮(group)</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r17" class="hc-checkbox-button">
        <input class="hc-checkbox-input" checked type="checkbox" id="r17" name="r6">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">全部</span>
      </label>
      <label for="r18" class="hc-checkbox-button">
        <input class="hc-checkbox-input" checked type="checkbox" id="r18" name="r6">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">已办</span>
      </label>
      <label for="r19" class="hc-checkbox-button hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r19" name="r6">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">未办</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选按钮(group steep)</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r20" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r20" name="r7">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">全部</span>
      </label>
      <label for="r21" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r21" name="r7">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">已办</span>
      </label>
      <label for="r22" class="hc-checkbox-button hc-steep hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r22" name="r7">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">未办</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选按钮(group steep)</h1>
  <div class="content">
    <div class="hc-checkbox-group-conner">
      <label for="r23" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r23" name="r8">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">全部</span>
      </label>
      <label for="r24" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r24" name="r8">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">已办</span>
      </label>
      <label for="r25" class="hc-checkbox-button hc-steep hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r25" name="r8">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">未办</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选按钮(group steep)</h1>
  <div class="content">
    <div class="hc-checkbox-group-round">
      <label for="r26" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r26" name="r9">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">全部</span>
      </label>
      <label for="r27" class="hc-checkbox-button hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r27" name="r9">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">已办</span>
      </label>
      <label for="r28" class="hc-checkbox-button hc-steep hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r28" name="r9">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">未办</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选列表</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r29" class="hc-checkbox-list hc-reserve">
        <input class="hc-checkbox-input" checked type="checkbox" id="r29" name="r10">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">支付宝</span>
      </label>
      <label for="r30" class="hc-checkbox-list hc-reserve">
        <input class="hc-checkbox-input" checked type="checkbox" id="r30" name="r10">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">微信</span>
      </label>
      <label for="r31" class="hc-checkbox-list hc-reserve hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r31" name="r10">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">银行卡</span>
      </label>
    </div>
  </div>
  <h1 class="t">单选列表</h1>
  <div class="content">
    <div class="hc-checkbox-group">
      <label for="r32" class="hc-checkbox-list hc-reserve hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r32" name="r11">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">支付宝</span>
      </label>
      <label for="r33" class="hc-checkbox-list hc-reserve hc-steep">
        <input class="hc-checkbox-input" checked type="checkbox" id="r33" name="r11">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">微信</span>
      </label>
      <label for="r34" class="hc-checkbox-list hc-reserve hc-steep hc-checkbox-success">
        <input class="hc-checkbox-input" checked type="checkbox" id="r34" name="r11">
        <span class="hc-checkbox-core"></span>
        <span class="hc-checkbox-label">银行卡</span>
      </label>
    </div>
  </div>
</body>
</html>