/* 普通的list */
.hc-list,.hc-cover-list,.hc-list-sort{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
}
.hc-list-item{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  align-items:center;
  border-bottom:1px solid #dadada;
  font-size:0.8rem;
  color:#333;
  min-height:2.1rem;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  position: relative;
}
.hc-list-title{
  width:100%;
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  box-sizing: border-box;
  flex:1;
  -webkit-flex:1;
  padding:0 0.2rem;
  background:#fff;
}
.hc-list-title:active{
  background-color:rgba(0,0,0,0.1);
}
.hc-list-cover,.hc-list-label,.hc-list-explain,.hc-list-badge,.hc-list-append{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
  padding:0 0.2rem;
}
.hc-list-cover:empty,.hc-list-label:empty,.hc-list-explain:empty,.hc-list-badge:empty,.hc-list-append:empty{
  padding:0;
}
/* 小图标 */
.hc-list-cover img{
  width:1.5rem;
  height:1..5rem;
}
/* 文字标签 */
.hc-list-label{
  flex:1;
  -webkit-flex:1;
}
/* 附加信息 */
.hc-list-explain{
  color:#666;
  font-size:0.7rem;
}
/* 最右边箭头也有可能是其他元素 */
.hc-list-append{
  font-size:1.2rem;
  display:flex;
  display:-webkit-flex;
  align-items:center;
  color:#999;
}
/* 列表中的头像 */
.hc-list-face{
  width:2.4rem;
  height:2.4rem;
  border-radius:50%;
}
/* 图片list */
.hc-list-info{
  flex:1;
  -webkit-flex:1;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
}
.hc-cover-list .hc-list-title{
  padding:0.5rem;
}
.hc-cover-list .hc-list-cover{
  width:30%;
  padding:0 0.5rem 0 0;
}
.hc-cover-list .hc-list-cover img{
  width:100%;
  height:auto;
}
.hc-list-name{
  font-weight:normal;
  font-size:0.8rem;
  line-height:1.4;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
  margin-bottom:0.2rem;
  height:2rem;
}
.hc-list-row{
  padding:0.1rem 0;
}
.hc-list-row-label{
  font-size:0.7rem;
  color:#666;
}
.hc-list-tail{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  justify-content: space-between;
  color:#999;
  font-size:0.6rem;
  align-items:center;
}
.hc-list-tail-col{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  align-items:center;
}
.hc-list-tail-item{
  margin-left:0.5rem;
}
.hc-list-tail-col .hc-tag{
  margin-right:0.2rem;
}
/* 有序list */
.hc-sort-list .hc-list-title{
  padding:0.5rem;
}
.hc-sort-list .hc-list-badge{
  padding-top:0.15rem;
  padding-left:0;
  align-items: flex-start;
}
/* chatlist */
.hc-chat-list .hc-list-cover{
  padding-left:0;
}
.hc-chat-list .hc-list-cover img{
  width:2.4rem;
  height:2.4rem;
}
.hc-list-message{
  font-size:0.6rem;
  color:#999;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.hc-chat-list .hc-list-append{
  flex-direction:column;
  justify-content: space-around;
  align-items:flex-end;
}
.hc-list-time{
  font-size:0.7rem;
  color:#999;
}
.hc-chat-list .hc-list-title{
  padding:0.5rem;
}
.hc-chat-list .hc-list-info{
  justify-content: space-around;
}
/* 列表可操作 */
.hc-list-handle{
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  width:50%;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
}
.hc-list-handle-button{
  flex:1;
  -webkit-flex:1;
  display:flex;
  display:-webkit-flex;
  align-items:center;
  justify-content: center;
  color:#fff;
}
.hc-list-handle-button:nth-child(1){
  background:#36B42C;
}
.hc-list-handle-button:nth-child(2){
  background:#EA2000;
}
.hc-list-handle-button:active{
  opacity:0.8;
}
/* new-list */
.hc-new-list .hc-list-title{
  padding:0.5rem;
}
.hc-list-summary{
  color:#999;
  margin-top:0.5rem;
  font-size:0.7rem;
  line-height:1.6;
}
/* tag-list */
.hc-tag-list .hc-list-title{
  padding:0.5rem;
}
.hc-tag-list .hc-list-badge {
  padding-left: 0;
  align-items: flex-start;
}