<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>button按钮</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通按钮</h1>
  <div class="content">
    <button class="hc-button hc-button-info">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button hc-button-primary">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button hc-button-success">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button hc-button-warning">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button hc-button-danger">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">文字按钮</h1>
  <div class="content">
    <button class="hc-button-text hc-button-info">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-text hc-button-primary">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-text hc-button-success">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-text hc-button-warning">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-text hc-button-danger">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">圆角按钮</h1>
  <div class="content">
    <button class="hc-button-conner hc-button-info">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-conner hc-button-primary">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-conner hc-button-success">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-conner hc-button-warning">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-conner hc-button-danger">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">圆弧按钮</h1>
  <div class="content">
    <button class="hc-button-round hc-button-info">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-primary">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-success">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-warning">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-danger">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">线条按钮</h1>
  <div class="content">
    <button class="hc-button-outline hc-button-info">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-primary">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-success">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-warning">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-danger">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">多种形式按钮综合</h1>
  <div class="content">
    <button class="hc-button-outline hc-button-info hc-button-round">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-primary hc-button-round">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-success hc-button-round">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-warning hc-button-round">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-danger hc-button-round">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">宽度100%按钮</h1>
  <div class="content">
    <button class="hc-button-round hc-button-info hc-button-full">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-primary hc-button-full">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-success hc-button-full">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-warning hc-button-full">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-round hc-button-danger hc-button-full">
      <span class="hc-button-icon"></span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
  <h1 class="t">带图标的按钮</h1>
  <div class="content">
    <button class="hc-button-outline hc-button-info hc-button-round">
      <span class="hc-button-icon">
        <i class="iconfont icon-download"></i>
      </span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-primary hc-button-round">
      <span class="hc-button-icon">
        <i class="iconfont icon-download"></i>
      </span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-success hc-button-round">
      <span class="hc-button-icon">
        <i class="iconfont icon-download"></i>
      </span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-warning hc-button-round">
      <span class="hc-button-icon">
        <i class="iconfont icon-download"></i>
      </span>
      <span class="hc-button-label">默认按钮</span>
    </button>
    <button class="hc-button-outline hc-button-danger hc-button-round">
      <span class="hc-button-icon">
        <i class="iconfont icon-download"></i>
      </span>
      <span class="hc-button-label">默认按钮</span>
    </button>
  </div>
</body>
</html>