<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">弹出时间</h1>
  <div class="content">
    <div class="hc-input hc-with-suffix" id="date">
      <input readonly type="text" class="hc-input-form" placeholder="请选择时间！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-calendar"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <div class="hc-masker"></div>
  <div class="hc-popup hc-popup-down">
    <div class="hc-datepicker">
      <div class="hc-datepicker-handle">
        <button class="hc-button-text hc-button-info">
          <span class="hc-button-label">取消</span>
        </button>
        <button disabled class="hc-button-text hc-button-info">
          <span class="hc-button-label">2018-03-15 15:30</span>
        </button>
        <button class="hc-button-text hc-button-primary">
          <span class="hc-button-label">确认</span>
        </button>
      </div>
      <div class="hc-datepicker-head">
        <span class="hc-datepicker-head-item">年</span>
        <span class="hc-datepicker-head-item">月</span>
        <span class="hc-datepicker-head-item">日</span>
        <span class="hc-datepicker-head-item">时</span>
        <span class="hc-datepicker-head-item">分</span>
      </div>
      <div class="hc-datepicker-body">
        <div class="hc-picker">
          <div class="hc-picker-item">
            <div class="hc-picker-inner">
              <div class="hc-picker-rule hc-picker-rule-top"></div>
              <ul class="hc-picker-list">
                <li>2012</li>
                <li>2013</li>
                <li>2012</li>
                <li>2013</li>
                <li>2014</li>
                <li>2015</li>
                <li>2016</li>
                <li>2015</li>
                <li>2016</li>
              </ul>
              <div class="hc-picker-rule hc-picker-rule-bottom"></div>
            </div>
          </div>
          <div class="hc-picker-item">
            <div class="hc-picker-inner">
              <div class="hc-picker-rule hc-picker-rule-top"></div>
              <ul class="hc-picker-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <div class="hc-picker-rule hc-picker-rule-bottom"></div>
            </div>
          </div>
          <div class="hc-picker-item">
            <div class="hc-picker-inner">
              <div class="hc-picker-rule hc-picker-rule-top"></div>
              <ul class="hc-picker-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <div class="hc-picker-rule hc-picker-rule-bottom"></div>
            </div>
          </div>
          <div class="hc-picker-item">
            <div class="hc-picker-inner">
              <div class="hc-picker-rule hc-picker-rule-top"></div>
              <ul class="hc-picker-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <div class="hc-picker-rule hc-picker-rule-bottom"></div>
            </div>
          </div>
          <div class="hc-picker-item">
            <div class="hc-picker-inner">
              <div class="hc-picker-rule hc-picker-rule-top"></div>
              <ul class="hc-picker-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <div class="hc-picker-rule hc-picker-rule-bottom"></div>
            </div>
          </div>
        </div>
      </div>
      <ul class="hc-datepicker-footer">
        <li class="hc-datepicker-footer-item">
          <button class="hc-button-text hc-button-primary">
            <span class="hc-button-label">今日</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <script src="../zepto.min.js"></script>
  <script>
    $('#date').click(function(){
      $('.hc-masker').addClass('hc-masker-show')
      $('.hc-popup').addClass('hc-popup-show')
    })
    $('.hc-masker').click(function(){
      $(this).removeClass('hc-masker-show')
      $('.hc-popup').removeClass('hc-popup-show')
    })
    // $('.hc-picker').each((idx,el)=>{
    //   $(el).find('.hc-picker-item').each((idx,el) => {
    //     $(el).find('li').each((index,item) => {
    //       var selectedIdx = 3 // 当前激活的索引
    //       $(item).css('transform',`rotateX(${(index - selectedIdx)*20}deg)`)
    //     })  
    //   })
    // })
  </script>
</body>
</html>