<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bubble</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="content">
    <div class="hc-bubble">
      <div class="hc-bubble-content">
        <div class="hc-bubble-label">关于“边框法”，这说起来话就长了。</div>
      </div>
    </div>
    <br>
    <div class="hc-bubble">
      <div class="hc-bubble-content" style="width:50%;">
        <ul class="hc-bubble-voice">
          <li class="iconfont icon-voice" ></li>
          <li class="hc-bubble-voice-label">49''</li>
          <li class="hc-bubble-badge">
            <div class="hc-badge hc-badge-dot"></div>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="hc-bubble hc-bubble-reserve">
      <div class="hc-bubble-content">
        <div class="hc-bubble-label">关于“边框法”，这说起来话就长了。</div>
      </div>
    </div>
    <br>
    <div class="hc-bubble hc-bubble-reserve">
      <div class="hc-bubble-content" style="width:90%;">
        <ul class="hc-bubble-voice">
          <li class="iconfont icon-voice" ></li>
          <li class="hc-bubble-voice-label">1' 45''</li>
          <li class="hc-bubble-badge">
            <div class="hc-badge hc-badge-dot"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>