<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>form</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">展示</h1>
  <ul class="hc-form hc-label-4">
    <li class="hc-form-item">
      <div class="hc-form-label">紧急程度：</div>
      <div class="hc-form-value">紧急</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">文件标题：</div>
      <div class="hc-form-value">丘海到龙岗调研我市中医药产业发展情况</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">来文单位：</div>
      <div class="hc-form-value">市政府办公厅</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">来文字号：</div>
      <div class="hc-form-value">【2018】54号</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">份数：</div>
      <div class="hc-form-value">0</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">收文日期：</div>
      <div class="hc-form-value">2018-03-12</div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">备注：</div>
      <div class="hc-form-value">0</div>
      <div class="hc-form-append"></div>
    </li>
  </ul>
  <h1 class="t">表单填写</h1>
  <ul class="hc-form hc-form-label-4">
    <li class="hc-form-item">
      <div class="hc-form-label">紧急程度：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写用户名！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">文件标题：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写文件标题！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">来文单位：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写用户名！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">来文字号：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写用户名！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append">
        <button class="hc-button hc-button-danger hc-button-mini">
          <span class="hc-button-icon"></span>
          <span class="hc-button-label">附加按钮</span>
        </button>
      </div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">份数：</div>
      <div class="hc-form-value">
        <div class="hc-number">
          <button class="hc-number-control">
            <span class="iconfont icon-subtract"></span>
          </button>
          <input readonly class="hc-number-value" type="text" value="1">
          <button class="hc-number-control">
            <span class="iconfont icon-add"></span>
          </button>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">收文日期：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写用户名！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
    <li class="hc-form-item">
      <div class="hc-form-label">备注：</div>
      <div class="hc-form-value">
        <div class="hc-input-light hc-show-close">
          <input type="text" class="hc-input-form" placeholder="请填写用户名！">
          <span class="hc-input-close"></span>
        </div>
      </div>
      <div class="hc-form-append"></div>
    </li>
  </ul>
</body>
</html>