.hc-search{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
  padding: 0.4rem;
  font-size:0.8rem;
  background:#f5f5f5;
  border-bottom:1px solid #eee;
  position: relative;
}
.hc-search-core{
  display:inline-block;
  border:1px solid #dadada;
  flex:1;
  -webkit-flex:1;
  font-size:0.7rem;
  padding:0.4rem 0.5rem;
  border-radius:5px;
  padding-left:1.5rem;
}
.hc-search-filter{
  padding:0 0 0 0.4rem;
}
.hc-search-icon{
  padding:0 1rem 0 0;
  position: absolute;
  left:0.4rem;
  top:0;
  display:inline-block;
  width:1.5rem;
  text-align:center;
  top:50%;
  transform:translateY(-50%);
}