/* ---------------按钮主题---------------- */
.hc-button-primary{
  background:#2D8CF0;
}
.hc-button-outline.hc-button-primary{
  background:none;
  border-color:#2D8CF0;
  color:#2D8CF0;
}
.hc-button-text.hc-button-primary{
  background:none;
  color:#2D8CF0;
}
.hc-button-success{
  background:#19BE6B;
}
.hc-button-outline.hc-button-success{
  background:none;
  border-color:#19BE6B;
  color:#19BE6B;
}
.hc-button-text.hc-button-success{
  background:none;
  color:#19BE6B;
}
.hc-button-info{
  background:#2DB7F5;
}
.hc-button-outline.hc-button-info{
  background:none;
  border-color:#2DB7F5;
  color:#2DB7F5;
}
.hc-button-text.hc-button-info{
  background:none;
  color:#2DB7F5;
}
.hc-button-warning{
  background:#FF9900;
}
.hc-button-outline.hc-button-warning{
  background:none;
  border-color:#FF9900;
  color:#FF9900;
}
.hc-button-text.hc-button-warning{
  background:none;
  color:#FF9900;
}
.hc-button-danger{
  background:#ED3F14;
}
.hc-button-outline.hc-button-danger{
  background:none;
  border-color:#ED3F14;
  color:#ED3F14;
}
.hc-button-text.hc-button-danger{
  background:none;
  color:#ED3F14;
}

/* -----------------checkbox------------------ */
/* primary */
.hc-primary.hc-form-checkbox-active .hc-form-frame{
  border-color:#2D8CF0;
  background-color:#2D8CF0;
}
.hc-primary.hc-form-checkbox-active .hc-form-label{
  color:#2D8CF0;
}
.hc-primary.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label,
.hc-primary .hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#2D8CF0;
  background-color:#2D8CF0;
  color:#fff;
}
/* success */
.hc-success.hc-form-checkbox-active .hc-form-frame{
  border-color:#19BE6B;
  background-color:#19BE6B;
}
.hc-success.hc-form-checkbox-active .hc-form-label{
  color:#19BE6B;
}
.hc-success.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label,
.hc-success .hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#19BE6B;
  background-color:#19BE6B;
  color:#fff;
}
/* info */
.hc-info.hc-form-checkbox-active .hc-form-frame{
  border-color:#2DB7F5;
  background-color:#2DB7F5;
}
.hc-info.hc-form-checkbox-active .hc-form-label{
  color:#2DB7F5;
}
.hc-info.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label,
.hc-info .hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#2DB7F5;
  background-color:#2DB7F5;
  color:#fff;
}
/* warning */
.hc-warning.hc-form-checkbox-active .hc-form-frame{
  border-color:#FF9900;
  background-color:#FF9900;
}
.hc-warning.hc-form-checkbox-active .hc-form-label{
  color:#FF9900;
}
.hc-warning.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label,
.hc-warning .hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#FF9900;
  background-color:#FF9900;
  color:#fff;
}
/* danger */
.hc-danger.hc-form-checkbox-active .hc-form-frame{
  border-color:#ED3F14;
  background-color:#ED3F14;
}
.hc-danger.hc-form-checkbox-active .hc-form-label{
  color:#ED3F14;
}
.hc-danger.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label,
.hc-danger .hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#ED3F14;
  background-color:#ED3F14;
  color:#fff;
}

/* -----------------radio------------------ */
/* primary */
.hc-primary.hc-form-radio-active .hc-form-frame{
  border-color:#2D8CF0;
}
.hc-primary.hc-form-radio-active .hc-form-label{
  color:#2D8CF0;
}
.hc-primary.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-primary .hc-form-radio-button.hc-form-radio-active .hc-form-label{
  border-color:#2D8CF0;
  background-color:#2D8CF0;
  color:#fff;
}
/* success */
.hc-success.hc-form-radio-active .hc-form-frame{
  border-color:#19BE6B;
}
.hc-success.hc-form-radio-active .hc-form-label{
  color:#19BE6B;
}
.hc-success.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-success .hc-form-radio-button.hc-form-radio-active .hc-form-label{
  border-color:#19BE6B;
  background-color:#19BE6B;
  color:#fff;
}
/* info */
.hc-info.hc-form-radio-active .hc-form-frame{
  border-color:#2DB7F5;
}
.hc-info.hc-form-radio-active .hc-form-label{
  color:#2DB7F5;
}
.hc-info.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-info .hc-form-radio-button.hc-form-radio-active .hc-form-label{
  border-color:#2DB7F5;
  background-color:#2DB7F5;
  color:#fff;
}
/* warning */
.hc-warning.hc-form-radio-active .hc-form-frame{
  border-color:#FF9900;
}
.hc-warning.hc-form-radio-active .hc-form-label{
  color:#FF9900;
}
.hc-warning.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-warning .hc-form-radio-button.hc-form-radio-active .hc-form-label{
  border-color:#FF9900;
  background-color:#FF9900;
  color:#fff;
}
/* danger */
.hc-danger.hc-form-radio-active .hc-form-frame{
  border-color:#ED3F14
}
.hc-danger.hc-form-radio-active .hc-form-label{
  color:#ED3F14;
}
.hc-danger.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-danger .hc-form-radio-button.hc-form-radio-active .hc-form-label{
  border-color:#ED3F14;
  background-color:#ED3F14;
  color:#fff;
}