<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="hc-headerbar">
      <div class="hc-headerbar-back"></div>
      <h1 class="hc-headerbar-title">首页</h1>
      <div class="hc-headerbar-menu"></div>
    </div>
  </div>
  <h1 class="t">带返回</h1>
  <div class="content">
    <div class="hc-headerbar">
      <div class="hc-headerbar-back">
        <span class="iconfont icon-back"></span>
      </div>
      <h1 class="hc-headerbar-title">消息</h1>
      <div class="hc-headerbar-menu"></div>
    </div>
  </div>
  <h1 class="t">带菜单</h1>
  <div class="content">
    <div class="hc-headerbar">
      <div class="hc-headerbar-back">
        <span class="iconfont icon-back"></span>
      </div>
      <h1 class="hc-headerbar-title">消息</h1>
      <div class="hc-headerbar-menu">
        <span class="iconfont icon-help"></span>
      </div>
    </div>
  </div>
</body>
</html>