<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>label 文本</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="content">
    <h1 class="hc-h1">标题一</h1>
    <h2 class="hc-h2">标题二</h2>
    <h3 class="hc-h3">标题三</h3>
    <h4 class="hc-h4">标题四</h4>
    <h5 class="hc-h5">标题五</h5>
    <h6 class="hc-h6">标题六</h6>
    <p class="hc-section">你可能认为这将导致 Vue 丢弃现有 DOM 并重新渲染整个列表。幸运的是，事实并非如此。Vue 为了使得 DOM 元素得到最大范围的重用而实现了一些智能的、启发式的方法，所以用一个含有相同元素的数组去替换原来的数组是非常高效的操作。</p>
    <a href="#" class="hc-link">求下拉列表的禁用方法,不要用disabled - ITeye问答</a>
  </div>
</body>
</html>