/* 复选样式 */
.hc-form-checkbox .hc-form-frame{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  justify-content: center;
  border:1px solid #aaa;
  width:18px;
  height:18px;
  border-radius:50%;
  box-sizing:border-box;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  border-radius:3px;
}
.hc-form-checkbox .hc-icon-checkbox{
  transform:scale(0);
}

/* checkbox button */
.hc-form-checkbox-button:first-child .hc-form-label{
  margin:0;
}
.hc-form-checkbox-button .hc-form-frame{
  display:none;
}
.hc-form-checkbox-button .hc-form-label{
  height:30px;
  line-height:30px;
  padding:0 15px;
  border:1px solid #aaa;
  margin-left:-1px;
  min-width:3em;
  display:flex;
  display:-webkit-flex;
  justify-content: center;
}

/* conner */
.hc-conner.hc-form-checkbox-button:first-child .hc-form-label{
  border-radius:5px 0 0 5px;
}
.hc-conner.hc-form-checkbox-button:last-child .hc-form-label{
  border-radius:0 5px 5px 0;
}
/* rounder */
.hc-rounder.hc-form-checkbox-button:first-child .hc-form-label{
  border-radius:30px 0 0 30px;
}
.hc-rounder.hc-form-checkbox-button:last-child .hc-form-label{
  border-radius:0 30px 30px 0;
}

/* 选中操作 */
.hc-form-checkbox-active .hc-icon-checkbox{
  transform:scale(0.6);
}
.hc-form-checkbox-active .hc-form-label{
  z-index:100;
}

/* 主题抽离 */
.hc-primary.hc-form-checkbox-active .hc-form-frame{
  border-color:#2D8CF0;
}
.hc-primary .hc-icon-checkbox{
  color:#2D8CF0;
}
.hc-primary.hc-form-checkbox-active .hc-form-label{
  color:#2D8CF0;
}
.hc-primary.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#2D8CF0;
}