<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tab</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div style="width:100vw;height:100vh;">
    <div class="hc-tab hc-tab-stretch">
      <ul class="hc-tab-bar">
        <li class="hc-tab-bar-item hc-tab-bar-active">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">全部</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge">
            <span class="hc-badge">5</span>
          </span>
        </li>
      </ul>
      <div class="hc-tab-panel">
        <div class="hc-tab-wrap">
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100vw;height:100vh;">
    <div class="hc-tab">
      <ul class="hc-tab-bar">
        <li class="hc-tab-bar-item hc-tab-bar-active">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">全部</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge">
            <span class="hc-badge-dot">5</span>
          </span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">最新消息</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">这是很长的tab</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
      </ul>
      <div class="hc-tab-panel">
        <div class="hc-tab-wrap">
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划4</div>
          <div class="hc-tab-item">继续项下划5</div>
          <div class="hc-tab-item">继续项下划6</div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100vw;height:100vh;">
    <div class="hc-tab hc-tab-stretch hc-tab-reserve">
      <ul class="hc-tab-bar">
        <li class="hc-tab-bar-item hc-tab-bar-active">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">全部</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge">
            <span class="hc-badge">10</span>
          </span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
      </ul>
      <div class="hc-tab-panel">
        <div class="hc-tab-wrap">
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100vw;height:100vh;">
    <div class="hc-tab-horizontal">
      <ul class="hc-tab-bar">
        <li class="hc-tab-bar-item hc-tab-bar-active">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">全部</span>
          <span class="hc-tab-bar-badge">
            <span class="hc-badge">2</span>
          </span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
      </ul>
      <div class="hc-tab-panel">
        <div class="hc-tab-wrap">
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100vw;height:100vh;">
    <div class="hc-tab-horizontal">
      <ul class="hc-tab-bar">
        <li class="hc-tab-bar-item hc-tab-bar-active">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">全部</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge">
            <span class="hc-badge-dot">2</span>
          </span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读3</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读4</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读1</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读3</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">已读4</span>
          <span class="hc-tab-bar-badge"></span>
        </li>
        <li class="hc-tab-bar-item">
          <span class="hc-tab-bar-icon"></span>
          <span class="hc-tab-bar-label">未读1</span>
          <span class="hc-tab-bar-badge">
          </span>
        </li>
      </ul>
      <div class="hc-tab-panel">
        <div class="hc-tab-wrap">
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划1</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划2</div>
          <div class="hc-tab-item">继续项下划3</div>
          <div class="hc-tab-item">继续项下划3</div>
        </div>
      </div>
    </div>
  </div>
  <script src="../zepto.min.js"></script>
  <script>
  $('.hc-tab-bar-item').click(function(){
    var move = - $(this).index()*100 + 'vw';
    $(this).addClass('hc-tab-bar-active').siblings().removeClass('hc-tab-bar-active')
    $(this).parents('.hc-tab,.hc-tab-horizontal').find('.hc-tab-wrap').css('transform', 'translateX('+move+')')
  })
  </script>
</body>
</html>