<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
  <style>
    body{
      background:#fff;
    }
  .iconfont{
    font-size:18px;
  }
  </style>
</head>
<body>
  <h1 class="t">普通</h1>
  <div class="content">
    <div class="hc-input hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input hc-with-prefix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i class="iconfont icon-face"></i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input hc-with-suffix hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input hc-with-suffix hc-with-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">圆角</h1>
  <div class="content">
    <div class="hc-input-conner hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-conner hc-with-prefix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i class="iconfont icon-face"></i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-conner hc-with-suffix hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-conner hc-with-suffix hc-with-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">半圆角</h1>
  <div class="content">
    <div class="hc-input-round hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-round hc-with-prefix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i class="iconfont icon-face"></i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-round hc-with-suffix hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-round hc-with-suffix hc-with-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">下划线</h1>
  <div class="content">
    <div class="hc-input-line hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-prefix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i class="iconfont icon-face"></i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-suffix hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-suffix hc-with-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">三边有线</h1>
  <div class="content">
    <div class="hc-input-outline hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-outline hc-with-prefix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i class="iconfont icon-face"></i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-outline hc-with-suffix hc-show-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-outline hc-with-suffix hc-with-close">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix"></span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">前面带文字</h1>
  <div class="content">
    <div class="hc-input-line hc-with-label hc-label-3">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>姓名</i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-label hc-label-3">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>性别</i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-label hc-label-3 hc-with-suffix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>生日</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    
    <div class="hc-input-line hc-with-label hc-label-3">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>出生地</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-4">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>手机号码</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-long hc-reserve hc-with-suffix">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>用户唯一id</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
  <h1 class="t">文字右对齐</h1>
  <div class="content">
    <div class="hc-input-line hc-with-label hc-label-3 hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>姓名</i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-3 hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>性别</i>
      </span>
      <span class="hc-input-suffix"></span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-3 hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>生日</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-3 hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>出生地</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-4 hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>手机号码</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
    <div class="hc-input-line hc-with-label hc-label-long hc-reserve">
      <input type="text" class="hc-input-form" placeholder="请填写用户名！">
      <span class="hc-input-prefix">
        <i>用户唯一id</i>
      </span>
      <span class="hc-input-suffix">
        <i class="iconfont icon-time"></i>
      </span>
      <span class="hc-input-close"></span>
    </div>
  </div>
</body>
</html>