<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_543156_nzzcp25sppvte29.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="input primary is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input success is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input info">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input warning">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input danger">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">圆角</h1>
  <div class="content">
    <div class="input is-conner">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">圆形</h1>
  <div class="content">
    <div class="input is-round">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">plain</h1>
  <div class="content">
    <div class="input is-conner is-plain primary is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-conner is-plain success is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-conner is-plain warning">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-conner is-plain danger">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">steep</h1>
  <div class="content">
    <div class="input is-steep primary is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-steep success">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-steep warning">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-steep danger">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">线条输入框</h1>
  <div class="content">
    <div class="input is-bottom-line primary is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-bottom-line success">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-bottom-line warning">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-bottom-line danger">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">线条输入框(变性)</h1>
  <div class="content">
    <div class="input is-outline primary mini is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-outline success small">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-outline warning medium">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <div class="input is-outline danger large">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
  <h1 class="t">不同尺寸</h1>
  <div class="content">
    <div class="input primary mini is-fix">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <br>
    <div class="input primary small">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <br>
    <div class="input primary medium">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
    <br>
    <br>
    <div class="input primary large">
      <input type="text" placeholder="请填写相关内容！">
      <span class="prefix">
        <span class="iconfont icon-denglu"></span>
      </span>
      <span class="suffix">
        <span class="iconfont icon-list"></span>
      </span>
    </div>
  </div>
</body>
</html>