body{
  font-family:'-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif';height: 100vh;
}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
html{font-size:125%;}  /*1rem=20px*/
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
}

.hc-page{
  width:100%;
  height:100%;
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
}
/* 中间视图 */
.hc-page-view{
  flex:1;
  -webkit-flex:1;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
}
/* 头部header */
.hc-page-header{
  display:flex;
  display:-webkit-flex;
  height:44px;
  background:#2D8CF0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.hc-page-back,
.hc-page-title,
.hc-page-menu{
  display:flex;
  display:-webkit-flex;
  height:44px;
  font-size:20px;
  color:#fff;
  font-weight:normal;
  align-self: center;
  align-items: center;
  min-width:44px;
  justify-content: center;
}
.hc-page-title{
  font-size:16px;
}
.hc-page-scroller{
  overflow:auto;
  flex:1;
  -webkit-flex:1;
  height:100%;
  box-sizing:border-box;
}
.hc-page-view{
  display:flex;
  display:-webkit-flex;
  flex:1;
  -webkit-flex:1;
}
.hc-page-view-footer{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  padding:5px;
}
.hc-page-view-footer-item{
  flex:1;
  -webkit-flex:1;
  padding:5px;
}
/* 禁用手机长按选中文本 */
* {
  -webkit-user-select: text;
  -user-select: text;
}
