<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>list 列表</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <ul class="hc-list">
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
        </span>
        <span class="hc-list-label">个人主页</span>
        <span class="hc-list-explain">说明文字</span>
        <span class="hc-list-badge">
          <span class="hc-badge">10</span>
        </span>
        <span class="hc-list-append">
          <i class="iconfont icon-more"></i>
        </span>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
        </span>
        <span class="hc-list-label">个人主页</span>
        <span class="hc-list-explain">说明文字</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <i class="iconfont icon-more"></i>
        </span>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">个人主页</span>
        <span class="hc-list-explain">说明文字</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <i class="iconfont icon-more"></i>
        </span>
      </div>
    </li>
    <li class="hc-list-item">
      <label class="hc-list-title" for="r1">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">个人主页</span>
        <span class="hc-list-explain">说明文字</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <label for="r1" class="hc-checkbox hc-steep">
            <input class="hc-checkbox-input" checked type="checkbox" id="r1" name="r">
            <span class="hc-checkbox-core"></span>
            <span class="hc-checkbox-label"></span>
          </label>
        </span>
      </label>
    </li>
    <li class="hc-list-item">
      <label class="hc-list-title" for="n9">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">个人主页</span>
        <span class="hc-list-explain">说明文字</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <label for="n9" class="hc-switch primary hc-large">
            <input class="hc-switch-input" type="checkbox" name="n" id="n9">
            <span class="hc-switch-core"></span>
            <span class="hc-switch-label hc-on"></span>
            <span class="hc-switch-label hc-off"></span>
          </label>
        </span>
      </label>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">我的头像</span>
        <span class="hc-list-explain"></span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" class="hc-list-face">
        </span>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">我的手机号</span>
        <span class="hc-list-explain">18827078587</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <i class="iconfont icon-more"></i>
        </span>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <span class="hc-list-cover"></span>
        <span class="hc-list-label">清理缓存</span>
        <span class="hc-list-explain">5M</span>
        <span class="hc-list-badge"></span>
        <span class="hc-list-append">
          <i class="iconfont icon-more"></i>
        </span>
      </div>
    </li>
  </ul>
  <ul class="hc-cover-list">
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-cover">
          <img src="https://gw2.alicdn.com/bao/uploaded/i2/1085144502/TB24T23XGmWBuNjy1XaXXXCbXXa_!!1085144502.jpg_210x210.jpg" alt="">
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">Apple/苹果 iPhone 6s 港版美版国行未激活4.7寸全新三网通4G手机</h2>
          <p class="hc-list-row">价格：￥1650-2500</p>
          <div class="hc-list-tail">
            <span>免运费</span>
            <span>256人付款</span>
            <span>深圳</span>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-cover">
          <img src="https://gw3.alicdn.com/bao/uploaded/i3/1917047079/TB1GIbPdEgQMeJjy0FjXXaExFXa_!!2-item_pic.png_210x210.jpg" alt="">
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">Apple/苹果 iPhone 8 Plus</h2>
          <p class="hc-list-row">价格：￥1650-2500</p>
          <div class="hc-list-tail">
            <span>免运费</span>
            <span>256人付款</span>
            <span>深圳</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="hc-sort-list">
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-badge">
          <span class="hc-badge">1</span>
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">Apple/苹果 iPhone 6s 港版美版国行未激活4.7寸全新三网通4G手机</h2>
          <p class="hc-list-row">价格：￥1650-2500</p>
          <div class="hc-list-tail">
            <span>免运费</span>
            <span>256人付款</span>
            <span>深圳</span>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-badge">
          <span class="hc-badge">2</span>
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">Apple/苹果 iPhone 8 Plus</h2>
          <p class="hc-list-row">价格：￥1650-2500</p>
          <div class="hc-list-tail">
            <span>免运费</span>
            <span>256人付款</span>
            <span>深圳</span>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-badge">
          <span class="hc-badge">3</span>
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">Apple/苹果 iPhone 8 Plus</h2>
          <p class="hc-list-row">价格：￥1650-2500</p>
          <div class="hc-list-tail">
            <span>免运费</span>
            <span>256人付款</span>
            <span>深圳</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="hc-chat-list">
    <li class="hc-list-item">
      <div class="hc-list-title">
        <div class="hc-list-cover">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">企业微信官方团队</h2>
          <p class="hc-list-message">欢迎再次回到企业微信！</p>
        </div>
        <div class="hc-list-append">
          <span class="hc-list-time">15:36</span>
          <span class="hc-badge">5</span>
        </div>
      </div>
    </li>
    <li class="hc-list-item">
      <div class="hc-list-title" style="transform:translateX(-50%);">
        <div class="hc-list-cover">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="">
        </div>
        <div class="hc-list-info">
          <h2 class="hc-list-name">企业微信官方团队</h2>
          <p class="hc-list-message">欢迎再次回到企业微信！</p>
        </div>
        <div class="hc-list-append">
          <span class="hc-list-time">15:36</span>
          <span class="hc-badge">5</span>
        </div>
      </div>
      <div class="hc-list-handle">
        <span class="hc-list-handle-button">删除</span>
        <span class="hc-list-handle-button">隐藏</span>
      </div>
    </li>
  </ul>
</body>
</html>