.hc-progress{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  height:5px;
}
.hc-progress-circle{
  width:120px;
  height:120px;
  position: relative;
}
.hc-progress-tips{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hc-progress-name{
  font-weight:normal;
  font-size:14px;
  color:#666;
}
.hc-progress-value{
  font-size:24px;
  color:#333;
  margin-top:5px;
}
.hc-progress-circle svg{
  transform: rotate(-90deg);
  transform-origin: center;
}
.hc-progress-bar{
  display: inline-block;
  width: 100%;
  height: 100%;
  background:#eee;
  position: relative;
  border-radius:5px;
}
.hc-progress-active{
  display:inline-block;
  height:100%;
  background:#2296E7;
  border-radius:5px;
  position: absolute;
  left:0;
  top:0;
}