<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hc-switch开关</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">hc-switch开关</h1>
  <div class="content">
    <label for="n1" class="hc-switch primary">
      <input class="hc-switch-input" checked type="checkbox" name="n" id="n1">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n2" class="hc-switch success">
      <input class="hc-switch-input" checked type="checkbox" name="n" id="n2">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n3" class="hc-switch info">
      <input class="hc-switch-input" checked type="checkbox" name="n" id="n3">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n4" class="hc-switch warning">
      <input class="hc-switch-input" checked type="checkbox" name="n" id="n4">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n5" class="hc-switch danger">
      <input class="hc-switch-input" checked type="checkbox" name="n" id="n5">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
  </div>
  <h1 class="t">不同尺寸</h1>
  <div class="content">
    <label for="n6" class="hc-switch primary hc-mini">
      <input class="hc-switch-input" type="checkbox" name="n" id="n6">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n7" class="hc-switch primary hc-small">
      <input class="hc-switch-input" type="checkbox" name="n" id="n7">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n11" class="hc-switch primary">
      <input class="hc-switch-input" type="checkbox" name="n" id="n11">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n8" class="hc-switch primary hc-hc-medium">
      <input class="hc-switch-input" type="checkbox" name="n" id="n8">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <br>
    <br>
    <label for="n9" class="hc-switch primary hc-large">
      <input class="hc-switch-input" type="checkbox" name="n" id="n9">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
  </div>
  <h1 class="t">禁用状态</h1>
  <div class="content">
    <label for="n12" class="hc-switch primary hc-large">
      <input class="hc-switch-input" disabled type="checkbox" name="n" id="n12">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
    <label for="n13" class="hc-switch primary hc-large">
      <input class="hc-switch-input" checked disabled type="checkbox" name="n" id="n13">
      <span class="hc-switch-core"></span>
      <span class="hc-switch-label hc-on">按年付费</span>
      <span class="hc-switch-label hc-off">按月付费</span>
    </label>
  </div>
</body>
</html>