.hc-row{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  align-items:flex-start;
}
.hc-row.hc-is-wrap{
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
}
.hc-flex-start{
  justify-content: flex-start;
}
.hc-flex-center{
  justify-content: center;
}
.hc-flex-end{
  justify-content: flex-end;
}
.hc-flex-between{
  justify-content: space-between;
}
.hc-flex-around{
  justify-content:space-around;
}
.hc-col{
  display:inline-flex;
  display:-webkit-inline-flex;
}
.hc-col-1{
  width:4.16%;
}
.hc-col-2{
  width:8.33%;
}
.hc-col-3{
  width:12.5%;
}
.hc-col-4{
  width:16.66%;
}
.hc-col-5{
  width:20.83%;
}
.hc-col-6{
  width:25%;
}
.hc-col-7{
  width:29.16%;
}
.hc-col-8{
  width:33.33%;
}
.hc-col-9{
  width:37.5%;
}
.hc-col-10{
  width:41.66%;
}
.hc-col-11{
  width:45.83%;
}
.hc-col-12{
  width:50%;
}
.hc-col-13{
  width:54.16%;
}
.hc-col-14{
  width:58.33%;
}
.hc-col-15{
  width:62.5%;
}
.hc-col-16{
  width:66.66%;
}
.hc-col-17{
  width:70.83%;
}
.hc-col-18{
  width:75%;
}
.hc-col-19{
  width:79.16%;
}
.hc-col-20{
  width:83.33%;
}
.hc-col-21{
  width:87.5%;
}
.hc-col-22{
  width:91.66%;
}
.hc-col-23{
  width:95.83%;
}
.hc-col-24{
  width:100%;
}
.hc-start{
  justify-content: flex-start;
}
.hc-center{
  justify-content: center;
}
.hc-end{
  justify-content: flex-end;
}