<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>chatlist聊天列表</title>
  <link rel="stylesheet" href="../theme/style.css">
  <style>
    body{
      background:#f5f5f5;
    }
  </style>
</head>
<body>
  <ul class="hc-chatlist">
    <li class="hc-chatlist-item hc-bubble-reserve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:45</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble-content">
              <div class="hc-bubble-label">关于“边框法”，这说起来话就长了。</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-chatlist-item hc-chatlist-recieve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:46</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars0.githubusercontent.com/u/22742313?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble-content">
              <div class="hc-bubble-label">现在，设想一下，如果我们现在只保留一个一个上边框</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-chatlist-item hc-chatlist-recieve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:47</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars0.githubusercontent.com/u/22742313?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble-content">
              <div class="hc-bubble-label">关于“边框法”，这说起来话就长了。</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-chatlist-item hc-bubble-reserve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:47</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble">
              <div class="hc-bubble-content">
                <div class="hc-bubble-label">现在，设想一下，如果我们现在只保留一个一个上边框</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-chatlist-item hc-chatlist-recieve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:48</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars0.githubusercontent.com/u/22742313?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble-content" style="width:50%;">
              <ul class="hc-bubble-voice">
                <li class="iconfont icon-voice" ></li>
                <li class="hc-bubble-voice-label">49''</li>
                <li class="hc-bubble-badge">
                  <div class="hc-badge hc-badge-dot"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="hc-chatlist-item hc-bubble-reserve">
      <div class="hc-chatlist-time">
        <div class="hc-chatlist-time-label">上午10:50</div>
      </div>
      <div class="hc-chatlist-avatar">
        <div class="hc-avatar hc-avatar-small">
          <div class="hc-avatar-image">
            <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
          </div>
        </div>
      </div>
      <div class="hc-chatlist-container">
        <div class="hc-chatlist-content">
          <div class="hc-bubble">
            <div class="hc-bubble-content" style="width:50%;">
              <ul class="hc-bubble-voice">
                <li class="iconfont icon-voice" ></li>
                <li class="hc-bubble-voice-label">49''</li>
                <li class="hc-bubble-badge">
                  <div class="hc-badge hc-badge-dot"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>