<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tag</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通</h1>
  <div class="content">
    <span class="hc-tag hc-tag-primary">加急</span>
    <span class="hc-tag hc-tag-success">加急</span>
    <span class="hc-tag hc-tag-warning">加急</span>
    <span class="hc-tag hc-tag-danger">加急</span>
  </div>
  <h1 class="t">线条</h1>
  <div class="content">
    <span class="hc-tag-line hc-tag-primary">加急</span>
    <span class="hc-tag-line hc-tag-success">加急</span>
    <span class="hc-tag-line hc-tag-warning">加急</span>
    <span class="hc-tag-line hc-tag-danger">加急</span>
  </div>
</body>
</html>