<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>carousel轮播图</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="hc-carousel">
    <div class="hc-carousel-content">
      <ul class="hc-carousel-wrap">
        <li class="hc-carousel-item">
          <a href="javascript:;" class="hc-carousel-link">
            <img src="http://taobao.90sheji.com/58pic/19/41/79/95h58PICAPW.jpg" alt="">
          </a>
        </li>
        <li class="hc-carousel-item">
          <a href="javascript:;" class="hc-carousel-link">
            <img src="http://pic2.ooopic.com/13/54/88/23b1OOOPIC49.jpg" alt="">
          </a>
        </li>
        <li class="hc-carousel-item">
          <a href="javascript:;" class="hc-carousel-link">
            <img src="http://img4.imgtn.bdimg.com/it/u=2601089117,1745268591&fm=27&gp=0.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <ul class="hc-carousel-indicator">
      <li class="hc-carousel-indicator-item hc-carousel-indicator-active"></li>
      <li class="hc-carousel-indicator-item"></li>
      <li class="hc-carousel-indicator-item"></li>
    </ul>
  </div>
</body>
</html>