/* 表单布局 */
.hc-form{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  flex-shrink: 0;
}
.hc-form-item{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  height:2.5rem;
  background:#fff;
  border-bottom:1px solid #ccc;
  align-items:center;
  flex-shrink: 0;
}
.hc-form-value{
  flex:1;
  -webkit-flex:1;
}
/* ----------------表单元素公共样式-------------------- */
.hc-form-group{
  font-size:0;
  display:flex;
  display:-webkit-flex;
  padding:0 0.5rem;
}
.hc-form-radio,
.hc-form-radio-button,
.hc-form-checkbox,
.hc-form-checkbox-button,
.hc-form-switch,
.hc-form-input,
.hc-form-input-light{
  display:inline-flex;
  display:-webkit-inline-flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items:center;
  color:#606266;
  font-size:0.7rem;
}
.hc-form-radio,
.hc-form-checkbox{
  margin-right:0.5rem;
}
.hc-full{
  width:100%;
}
.hc-form-core{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:0.9rem;
  opacity:0;
}
.hc-form-label{
  padding-left:0.2rem;
  font-size:0.8rem;
}
.hc-form-label,.hc-form-frame{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
}
.hc-form-label .hc-iconfont,
.hc-form-frame .hc-iconfont{
  font-size:0.9rem;
}