<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>avatar 头像</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="hc-avatar hc-avatar-large">
    <div class="hc-avatar-image">
      <input class="hc-avatar-update" type="file">
      <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
    </div>
    <div class="hc-avatar-name">刘勇</div>
  </div>
  <div class="hc-avatar hc-avatar-medium">
    <div class="hc-avatar-image">
      <input class="hc-avatar-update" type="file">
      <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
    </div>
    <div class="hc-avatar-name">刘勇</div>
  </div>
  <div class="hc-avatar">
    <div class="hc-avatar-image">
      <input class="hc-avatar-update" type="file">
      <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
    </div>
    <div class="hc-avatar-name">刘勇</div>
  </div>
  <div class="hc-avatar hc-avatar-small">
    <div class="hc-avatar-image">
      <input class="hc-avatar-update" type="file">
      <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
    </div>
    <div class="hc-avatar-name">刘勇</div>
  </div>
  <div class="hc-avatar hc-avatar-mini">
    <div class="hc-avatar-image">
      <input class="hc-avatar-update" type="file">
      <img class="hc-avatar-display" src="https://avatars2.githubusercontent.com/u/6268025?s=460&v=4" alt="">
    </div>
    <div class="hc-avatar-name">刘勇</div>
  </div>
</body>
</html>