/* input */
.hc-form-input,
.hc-form-input-light,
.hc-form-input-subline,
.hc-form-textarea{
  width:100%;
  border:1px solid #dcdfe6;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
  height:1.8rem;
}
.hc-form-input-light{
  border:none;
}
.hc-form-input-subline{
  border-top:none;
  border-left:none;
  border-right:none;
}
.hc-form-input .hc-form-core,
.hc-form-input-light .hc-form-core,
.hc-form-input-subline .hc-form-core,
.hc-form-textarea .hc-form-core{
  border-radius:0;
  flex:1;
  -webkit-flex:1;
  position:static;
  opacity:1;
  font-size:0.7rem;
  padding:0 0.5rem;
  border:none;
  box-sizing: border-box;
  color:#606266;
}
.hc-form-textarea{
  padding:0.5rem;
  height:auto;
}
.hc-form-textarea .hc-form-core{
  height:auto;
  padding:0;
  line-height:1.8;
}
.hc-form-input .hc-form-label,
.hc-form-input-light .hc-form-label,
.hc-form-input-subline .hc-form-label{
  padding: 0 0 0 0.5rem;
  font-size:0.7rem;
}
.hc-form-input .hc-form-frame,
.hc-form-input-light .hc-form-frame,
.hc-form-input-subline .hc-form-frame{
  width:auto;
  border:none;
  padding:0 0.5rem 0 0;
}
.hc-form-input-subline .hc-form-label,
.hc-form-input-subline .hc-form-frame{
  padding:0;
}

/* conner */
.hc-conner.hc-form-input,
.hc-conner.hc-form-textarea{
  border-radius:5px;
}
/* rounder */
.hc-rounder.hc-form-input{
  border-radius:30px;
}
/* 获取焦点 */
.hc-form-input-focus{
  border-color:#2D8CF0;
  color:#2D8CF0;
}
/* 不同尺寸 */
.hc-form-input.hc-form-mini,
.hc-form-input-subline.hc-form-mini{
  height:1.4rem;
}
.hc-form-input.hc-form-small,
.hc-form-input-subline.hc-form-small{
  height:1.6rem;
}
.hc-form-input.hc-form-medium,
.hc-form-input-subline.hc-form-medium{
  height:2rem;
}
.hc-form-input.hc-form-large,
.hc-form-input-subline.hc-form-large{
  height:2.2rem;
}

/* 主题抽离 */
.hc-primary.hc-form-input-focus{
  border-color:#2D8CF0;
  color:#2D8CF0;
}
.hc-success.hc-form-input-focus{
  border-color:#19BE6B;
  color:#19BE6B;
}
.hc-info.hc-form-input-focus{
  border-color:#2DB7F5;
  color:#2DB7F5;
}
.hc-warning.hc-form-input-focus{
  border-color:#FF9900;
  color:#FF9900;
}
.hc-danger.hc-form-input-focus{
  border-color:#ED3F14;
  color:#ED3F14;
}