<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>number数字</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="content">
    <div class="hc-number">
      <button class="hc-number-control">
        <span class="iconfont icon-subtract"></span>
      </button>
      <input readonly class="hc-number-value" type="text" value="1">
      <button class="hc-number-control">
        <span class="iconfont icon-add"></span>
      </button>
    </div>
  </div>
</body>
</html>