.hc-picker,.hc-picker-steep{
  height:170px;
  overflow:hidden;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  width:100%;
}
.hc-picker-block{
  flex:1;
  position:relative;
  height:100%;
}
.hc-picker-block .hc-mask-bottom:before{
  top:0;
  bottom:auto;
}
.hc-picker-list{
  text-align:center;
  font-size:16px;
  color:#0a0a0a;
  position:absolute;
  left:0;
  right:0;
  top:0;
  z-index:1;
}
.hc-picker-list .hc-picker-item{
  height:34px;
  line-height:34px;
  transform-origin:center center;
}

.hc-mask-top,.hc-mask-bottom{
  position:absolute;
  left:0;
  right:0;
  height:68px;
  z-index:2;
}
.hc-mask-top{
  top:0;
  background:-webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
  border-bottom:1px solid #EBEBEB;
}
.hc-mask-bottom{
  bottom:0;
  background:-webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
  border-top:1px solid #EBEBEB;
}

.hc-picker-steep .hc-selected{
  background:#F7F6F9;
}

/* 显示7行 */
.hc-picker-view-7{
  height:238px;
}
.hc-picker-view-7 .hc-mask-top,.hc-picker-view-7 .hc-mask-bottom{
  height:102px;
}
/* .border-1px:before{
  content:"";
  display:block;
  border-top:1px solid #EBEBEB;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  z-index:5;
}
@media (-webkit-min-device-pixel-ratio:1.5){
  .border-1px:before{transform:scaleY(0.7);}
}
@media (-webkit-min-device-pixel-ratio:2){
  .border-1px:before{transform:scaleY(0.5);}
}
@media (-webkit-min-device-pixel-ratio:3){
  .border-1px:before{transform:scaleY(0.33);}
} */