<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div style="height:170px;">
    <div class="hc-picker">
      <div class="hc-picker-body">
        <div class="hc-picker-mask"></div>
        <div class="hc-picker-indicator"></div>
        <ul class="hc-picker-content">
          <li class="hc-picker-item">小米</li>
          <li class="hc-picker-item">华为</li>
          <li class="hc-picker-item hc-picker-item-select">锤子</li>
          <li class="hc-picker-item">乐视</li>
          <li class="hc-picker-item">红米</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>