.hc-datepicker{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  flex:1;
  -webkit-flex:1;
}
.hc-datepicker-handle{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid #EBEBEB;
  padding:5px 0;
}
.hc-datepicker-head{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
}
.hc-datepicker-head-item{
  display:inline-block;
  padding:10px 0;
  font-size:14px;
  color:#999;
}
.hc-datepicker-body{
  flex:1;
  -webkit-flex:1;
  align-items:center;
  display:flex;
  display:-webkit-flex;
}
.hc-datepicker-body .hc-picker{
  align-self: center;
}
.hc-datepicker-footer{
  display:flex;
  display:-webkit-flex;
  width:100%;
  flex-direction: row;
  justify-content: space-around;
  border-top:1px solid #ebebeb;
}