<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>range滑块</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="hc-range">
      <div class="hc-range-bar">
        <div class="hc-range-bar-active" style="right:40%"></div>
        <div class="hc-range-handle" style="left:60%;"></div>
      </div>
    </div>
  </div>
  <h1 class="t">区间</h1>
  <div class="content">
    <div class="hc-range">
      <div class="hc-range-bar">
        <div class="hc-range-bar-active" style="left:40%;right:10%;"></div>
        <div class="hc-range-handle" style="left:40%;"></div>
        <div class="hc-range-handle" style="left:90%;"></div>
      </div>
    </div>
  </div>
  <h1 class="t">带数字提示</h1>
  <div class="content">
    <div class="hc-range">
      <div class="hc-range-bar">
        <div class="hc-range-bar-active" style="right:40%"></div>
        <div class="hc-range-handle" style="left:60%;">
          <span class="hc-range-current">60</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>