<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <div class="hc-page">
    <header class="hc-headerbar">
      <div class="hc-headerbar-back"></div>
      <h1 class="hc-headerbar-title">首页</h1>
      <div class="hc-headerbar-menu"></div>
    </header>
    <section class="hc-page-content">
      <div class="hc-page-scroller">
        <form action="" class="hc-form">
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              姓名：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input class="hc-form-core" type="text" name="r11" placeholder="请填写姓名！">
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              性别：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-group">
                <div class="hc-form-radio hc-form-radio-active hc-primary">
                  <input class="hc-form-core" type="radio" name="r11">
                  <span class="hc-form-frame">
                    <i class="hc-iconfont hc-icon-radio"></i>
                  </span>
                  <label class="hc-form-label">男</label>
                </div>
                <div class="hc-form-radio hc-primary">
                  <input class="hc-form-core" type="radio" name="r11">
                  <span class="hc-form-frame">
                    <i class="hc-iconfont hc-icon-radio"></i>
                  </span>
                  <label class="hc-form-label">女</label>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              是否毕业：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-switch hc-primary">
                <input class="hc-form-core" type="checkbox" name="r11">
                <label class="hc-form-label"></label>
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-checkbox"></i>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              兴趣爱好：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-group">
                <div class="hc-form-checkbox hc-form-checkbox-active hc-primary">
                  <input class="hc-form-core" type="checkbox" name="r11">
                  <span class="hc-form-frame">
                    <i class="hc-iconfont hc-icon-checkbox"></i>
                  </span>
                  <label class="hc-form-label">足球</label>
                </div>
                <div class="hc-form-checkbox hc-primary">
                  <input class="hc-form-core" type="checkbox" name="r11">
                  <span class="hc-form-frame">
                    <i class="hc-iconfont hc-icon-checkbox"></i>
                  </span>
                  <label class="hc-form-label">羽毛球</label>
                </div>
                <div class="hc-form-checkbox hc-primary">
                  <input class="hc-form-core" type="checkbox" name="r11">
                  <span class="hc-form-frame">
                    <i class="hc-iconfont hc-icon-checkbox"></i>
                  </span>
                  <label class="hc-form-label">乒乓球</label>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              学历：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input readonly class="hc-form-core" type="text" name="r11" placeholder="请填写姓名！">
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-moreunfold"></i>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              毕业时间：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input readonly class="hc-form-core" type="text" name="r11" placeholder="请选择毕业时间">
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-date"></i>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              所在地区：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input readonly class="hc-form-core" type="text" name="r11" placeholder="请选择所在地区">
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-address"></i>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              所在地区：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input readonly class="hc-form-core" type="text" name="r11" placeholder="请选择所在地区">
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-address"></i>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="hc-form-item">
            <dt class="hc-form-label" style="width:5em;">
              所在地区：
            </dt>
            <dd class="hc-form-value">
              <div class="hc-form-input-light">
                <input readonly class="hc-form-core" type="text" name="r11" placeholder="请选择所在地区">
                <span class="hc-form-frame">
                  <i class="hc-iconfont hc-icon-address"></i>
                </span>
              </div>
            </dd>
          </dl>
        </form>
      </div>
      <footer class="hc-content-footer">
        <div class="hc-content-footer-item">
          <button class="hc-button hc-full hc-button-warning">
            <span class="hc-button-icon"></span>
            <span class="hc-button-label">返回上一步</span>
          </button>
        </div>
        <div class="hc-content-footer-item">
          <button class="hc-button hc-full hc-button-primary">
            <span class="hc-button-icon"></span>
            <span class="hc-button-label">确认提交</span>
          </button>
        </div>
      </footer>
    </section>
  </div>
  <script src="../zepto.min.js"></script>
  <script>
    $('.hc-form-radio,.hc-form-radio-button').click(function(){
      $(this).addClass('hc-form-radio-active').siblings().removeClass('hc-form-radio-active');
    })
    $('.hc-form-checkbox,.hc-form-checkbox-button').click(function(){
      $(this).toggleClass('hc-form-checkbox-active')
    })
    $('.hc-form-switch').click(function(){
      $(this).toggleClass('hc-form-switch-active')
    })
    $('.hc-form-input input').focus(function(){
      $(this).parents('.hc-form-input').addClass('hc-form-input-focus')
    })
    $('.hc-form-input input,.hc-form-input-light input').blur(function(){
      $(this).parents('.hc-form-input').removeClass('hc-form-input-focus')
    })
  </script>
</body>
</html>