/* 表单布局 */
.hc-form{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  flex-shrink: 0;
}
.hc-form-item{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  height:50px;
  background:#fff;
  border-bottom:1px solid #ccc;
  align-items:center;
  flex-shrink: 0;
}
.hc-form-value{
  flex:1;
  -webkit-flex:1;
}
/* ----------------表单元素-------------------- */
.hc-form-group{
  font-size:0;
  display:flex;
  display:-webkit-flex;
  padding:0 10px;
}
.hc-form-radio,
.hc-form-radio-button,
.hc-form-checkbox,
.hc-form-checkbox-button,
.hc-form-switch,
.hc-form-input,
.hc-form-input-light{
  display:inline-flex;
  display:-webkit-inline-flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items:center;
  color:#666;
  font-size:18px;
}
.hc-form-radio,
.hc-form-checkbox{
  margin-right:10px;
}
.hc-full{
  width:100%;
}
.hc-form-core{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:18px;
  opacity:0;
}
/* 单选样式 */
.hc-form-frame{
  display:flex;
  display:-webkit-flex;
  align-items:center;
  justify-content: center;
  border:1px solid #aaa;
  width:18px;
  height:18px;
  border-radius:50%;
  box-sizing:border-box;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
/* 复选样式 */
.hc-form-checkbox .hc-form-frame{
  border-radius:3px;
}
.hc-icon-radio,.hc-icon-checkbox{
  color:#aaa;
  transform:scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.hc-form-label{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items:center;
  padding-left:5px;
  font-size:14px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
/* radio button */
.hc-form-radio-button:first-child .hc-form-label,
.hc-form-checkbox-button:first-child .hc-form-label{
  margin:0;
}
.hc-form-radio-button .hc-form-frame,
.hc-form-checkbox-button .hc-form-frame{
  display:none;
}
.hc-form-radio-button .hc-form-label,
.hc-form-checkbox-button .hc-form-label{
  height:34px;
  line-height:34px;
  padding:0 15px;
  border:1px solid #aaa;
  margin-left:-1px;
}
/* switch */
.hc-form-switch .hc-form-frame{
  display: inline-block;
  position: relative;
  width: 42px;
  height: 22px;
  border: 1px solid rgba(217,217,217,1);
  border-radius: 15px;
  box-sizing: border-box;
  background: #2296E7;
}
.hc-form-switch .hc-form-frame:before,
.hc-form-switch .hc-form-frame:after{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  border-radius: 15px;
}
.hc-form-switch .hc-form-frame:before{
  width: 40px;
  height: 20px;
  background: #ccc;
}
.hc-form-switch .hc-form-frame:after{
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
/* input */
.hc-form-input,
.hc-form-input-light{
  width:100%;
  border:1px solid #aaa;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.hc-form-input-light{
  border:none;
}
.hc-form-input .hc-form-core,
.hc-form-input-light .hc-form-core{
  border-radius:0;
  width:100%;
  position:static;
  opacity:1;
  font-size:14px;
  height:34px;
  line-height:34px;
  border:none;
  padding:0 10px;
  box-sizing: border-box;
}
.hc-form-input .hc-form-label,
.hc-form-input-light .hc-form-label{
  padding-left:10px;
}
.hc-form-input .hc-form-frame,
.hc-form-input-light .hc-form-frame{
  width:auto;
  border:none;
  padding-right:10px;
}

/* class控制选中 */
.hc-form-radio-active .hc-icon-radio{
  transform:scale(0.6);
}
.hc-form-checkbox-active .hc-icon-checkbox{
  transform:scale(0.8);
}
.hc-form-radio-active .hc-form-label,
.hc-form-checkbox-active .hc-form-label{
  z-index:100;
}
.hc-form-switch-active  .hc-form-frame:before{
  -webkit-transform:scale(0);
  transform:scale(0);
}
.hc-form-switch-active .hc-form-frame:after{
  -webkit-transform:translateX(20px);
  transform:translateX(20px);
}

/* 不同样式 */
/* primary */
.hc-primary.hc-form-radio-active .hc-form-frame,
.hc-primary.hc-form-checkbox-active .hc-form-frame{
  border-color:#2D8CF0;
}
.hc-primary  .hc-icon-radio,
.hc-primary .hc-icon-checkbox{
  color:#2D8CF0;
}
.hc-primary.hc-form-radio-active .hc-form-label,
.hc-primary.hc-form-checkbox-active .hc-form-label{
  color:#2D8CF0;
}
.hc-primary.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-primary.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#2D8CF0;
}
.hc-primary.hc-form-input-focus{
  border-color:#2D8CF0;
  color:#2D8CF0;
}
/* success */
.hc-success.hc-form-radio-active .hc-form-frame,
.hc-success.hc-form-checkbox-active .hc-form-frame{
  border-color:#19BE6B;
}
.hc-success  .hc-icon-radio,
.hc-success .hc-icon-checkbox{
  color:#19BE6B;
}
.hc-success.hc-form-radio-active .hc-form-label,
.hc-success.hc-form-checkbox-active .hc-form-label{
  color:#19BE6B;
}
.hc-success.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-success.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#19BE6B;
}
/* info */
.hc-info.hc-form-radio-active .hc-form-frame,
.hc-info.hc-form-checkbox-active .hc-form-frame{
  border-color:#2DB7F5;
}
.hc-info  .hc-icon-radio,
.hc-info .hc-icon-checkbox{
  color:#2DB7F5;
}
.hc-info.hc-form-radio-active .hc-form-label,
.hc-info.hc-form-checkbox-active .hc-form-label{
  color:#2DB7F5;
}
.hc-info.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-info.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#2DB7F5;
}
/* warning */
.hc-warning.hc-form-radio-active .hc-form-frame,
.hc-warning.hc-form-checkbox-active .hc-form-frame{
  border-color:#FF9900;
}
.hc-warning  .hc-icon-radio,
.hc-warning .hc-icon-checkbox{
  color:#FF9900;
}
.hc-warning.hc-form-radio-active .hc-form-label,
.hc-warning.hc-form-checkbox-active .hc-form-label{
  color:#FF9900;
}
.hc-warning.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-warning.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#FF9900;
}
/* danger */
.hc-danger.hc-form-radio-active .hc-form-frame,
.hc-danger.hc-form-checkbox-active .hc-form-frame{
  border-color:#ED3F14;
}
.hc-danger  .hc-icon-radio,
.hc-danger .hc-icon-checkbox{
  color:#ED3F14;
}
.hc-danger.hc-form-radio-active .hc-form-label,
.hc-danger.hc-form-checkbox-active .hc-form-label{
  color:#ED3F14;
}
.hc-danger.hc-form-radio-button.hc-form-radio-active .hc-form-label,
.hc-danger.hc-form-checkbox-button.hc-form-checkbox-active .hc-form-label{
  border-color:#ED3F14;
}