<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>radio</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1 class="t">普通用法</h1>
  <div class="content">
    <div class="hc-form-group">
      <div class="hc-form-radio hc-form-radio-active hc-primary">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">支付宝</label>
      </div>
      <div class="hc-form-radio hc-success">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">微信</label>
      </div>
      <div class="hc-form-radio hc-warning">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-radio hc-danger">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-radio hc-info">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
    </div>
  </div>
  <h1 class="t">radio button</h1>
  <div class="content">
    <div class="hc-form-group">
      <div class="hc-form-radio-button hc-form-radio-active hc-primary">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">支付宝</label>
      </div>
      <div class="hc-form-radio-button hc-success">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">微信</label>
      </div>
      <div class="hc-form-radio-button hc-warning">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-radio-button hc-danger">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-radio-button hc-info">
        <input class="hc-form-core" type="radio" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-radio"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
    </div>
  </div>
  <h1 class="t">复选框</h1>
  <div class="content">
    <div class="hc-form-group">
      <div class="hc-form-checkbox hc-form-checkbox-active hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox hc-success">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox hc-warning">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox hc-info">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox hc-danger">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
    </div>
  </div>
  <h1 class="t">checkbox button</h1>
  <div class="content">
    <div class="hc-form-group">
      <div class="hc-form-checkbox-button hc-form-checkbox-active hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">支付宝</label>
      </div>
      <div class="hc-form-checkbox-button hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">微信</label>
      </div>
      <div class="hc-form-checkbox-button hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox-button hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
      <div class="hc-form-checkbox-button hc-primary">
        <input class="hc-form-core" type="checkbox" name="r11">
        <span class="hc-form-frame">
          <i class="hc-iconfont hc-icon-checkbox"></i>
        </span>
        <label class="hc-form-label">银联</label>
      </div>
    </div>
  </div>
  <h1 class="t">switch</h1>
  <div class="content">
    <div class="hc-form-switch hc-primary">
      <input class="hc-form-core" type="checkbox" name="r11">
      <label class="hc-form-label"></label>
      <span class="hc-form-frame">
        <i class="hc-iconfont hc-icon-checkbox"></i>
      </span>
    </div>
    <div class="hc-form-switch hc-primary hc-full">
      <input class="hc-form-core" type="checkbox" name="r11">
      <label class="hc-form-label">银联</label>
      <span class="hc-form-frame">
        <i class="hc-iconfont hc-icon-checkbox"></i>
      </span>
    </div>
  </div>
  <h1 class="t">input</h1>
  <div class="content">
    <div class="hc-form-input hc-primary">
      <label class="hc-form-label">
        <i class="hc-iconfont hc-icon-password"></i>
      </label>
      <input class="hc-form-core" type="text" name="r11">
    </div>
    <div class="line"></div>
    <div class="hc-form-input hc-primary">
      <input class="hc-form-core" type="text" name="r11">
      <span class="hc-form-frame">
        <i class="hc-iconfont hc-icon-password"></i>
      </span>
    </div>
    <div class="line"></div>
    <div class="hc-form-input-light hc-primary">
      <input class="hc-form-core" type="text" name="r11">
      <span class="hc-form-frame">
        <i class="hc-iconfont hc-icon-password"></i>
      </span>
    </div>
  </div>
  <script src="../zepto.min.js"></script>
  <script>
    $('.hc-form-radio,.hc-form-radio-button').click(function(){
      $(this).addClass('hc-form-radio-active').siblings().removeClass('hc-form-radio-active');
    })
    $('.hc-form-checkbox,.hc-form-checkbox-button').click(function(){
      $(this).toggleClass('hc-form-checkbox-active')
    })
    $('.hc-form-switch').click(function(){
      $(this).toggleClass('hc-form-switch-active')
    })
    $('.hc-form-input input').focus(function(){
      $(this).parents('.hc-form-input').addClass('hc-form-input-focus')
    })
    $('.hc-form-input input,.hc-form-input-light input').blur(function(){
      $(this).parents('.hc-form-input').removeClass('hc-form-input-focus')
    })
  </script>
</body>
</html>