<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>radio</title>
  <link rel="stylesheet" href="../theme/style.css">
</head>
<body>
  <h1>正方形</h1>
  <div class="content"></div>
  <label for="r1" class="hc-radio">
    <input class="hc-radio-input" checked type="radio" id="r1" name="r">
    <span class="hc-radio-core"></span>
    <span class="hc-radio-label">男</span>
  </label>
  <label for="r2" class="hc-radio">
    <input class="hc-radio-input" checked type="radio" id="r2" name="r">
    <span class="hc-radio-core"></span>
    <span class="hc-radio-label">女</span>
  </label>
  <label for="r3" class="hc-radio">
    <input class="hc-radio-input" checked type="radio" id="r3" name="r">
    <span class="hc-radio-core"></span>
    <span class="hc-radio-label">不详</span>
  </label>
</body>
</html>