.hc-radio,.hc-radio-rect,.hc-radio-outline{
  display:inline-flex;
  display:-webkit-inline-flex;
  flex-direction: row;
  align-items:center;
  vertical-align: middle;
}
.hc-radio-input{
  display:none;
}
.hc-radio-core{
  display:inline-flex;
  display:-webkit-inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border:1px solid #d3d3d3;
  width:18px;
  height:18px;
  border-radius:50%;
  align-self: center;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  overflow:hidden;
}
.hc-radio-core:before{
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  align-self: center;
  opacity:0;
  transform:scale(0);
  -webkit-transform:scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.hc-radio-label{
  display:inline-block;
  align-self: center;
  font-size:14px;
  padding:0 0.2em;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
/* 矩形单选框 */
.hc-radio-rect .hc-radio-core{
  border-radius:5px;
}
/* 线条单选框 */
.hc-radio-outline .hc-radio-input:checked + .hc-radio-core{
  border-color:#2296E7;
}
.hc-radio-outline .hc-radio-core:before{
  display:none;
}
/* radio-button */
.hc-radio-button{
  margin-left:5px;
}
.hc-radio-button:first-child{
  margin:0;
}
.hc-radio-button .hc-radio-core{
  display:none;
}
.hc-radio-button .hc-radio-label{
  padding:6px 10px;
  border:1px solid #D3D3D3;
  font-size:14px;
  position: relative;
}
/* radio-list */
.hc-radio-list{
  display:block;
  padding:10px 0;
  border-bottom:1px solid #d3d3d3;
  position: relative;
}
.hc-radio-list .hc-radio-core:before{
  width:6px;
  height:12px;
  border-radius:0;
  background:none !important;
  border:1px solid #2296E7;
  border-left:none;
  border-top:none;
  transform:rotate(45deg) translate(-30%,-20%) scale(0);
  -webkit-transform:rotate(45deg) translate(-30%,-20%) scale(0);
}
.hc-reserve .hc-radio-core{
  position: absolute;
  right:0;
  top:50%;
  transform:translate(0, -50%);
}
/* radio-group */
.hc-radio-group,
.hc-radio-group-conner,
.hc-radio-group-round{
  font-size:0;
}
.hc-radio-group .hc-radio-button,
.hc-radio-group-conner .hc-radio-button,
.hc-radio-group-round .hc-radio-button{
  margin:0 0 0 -1px;
}
/* radio-group-conner */
.hc-radio-group-conner .hc-radio-button:first-child .hc-radio-label{
  border-radius:5px 0 0 5px;
}
.hc-radio-group-conner .hc-radio-button:last-child .hc-radio-label{
  border-radius:0 5px 5px 0;
}
/* radio-group-round */
.hc-radio-group-round .hc-radio-button:first-child .hc-radio-label{
  border-radius:20px 0 0 20px;
}
.hc-radio-group-round .hc-radio-button:last-child .hc-radio-label{
  border-radius:0 20px 20px 0;
}
/* ----------------选中------------------ */
/* radio-list */
.hc-radio-list .hc-radio-input:checked + .hc-radio-core:before{
  transform:rotate(45deg) translate(-30%,-20%) scale(1);
  -webkit-transform:rotate(45deg) translate(-30%,-20%) scale(1);
}
.hc-radio-list.hc-steep .hc-radio-input:checked + .hc-radio-core{
  background-color:#2296E7;
}
.hc-radio-list.hc-steep .hc-radio-input:checked + .hc-radio-core:before{
  transform:rotate(45deg) translate(-30%,-20%);
  border-color:#fff;
}
/* radio-button */
.hc-radio-button .hc-radio-input:checked + .hc-radio-core + .hc-radio-label{
  border-color:#2296E7;
  background-color:#fff;
  color:#2296E7;
  z-index:100;
}
/* steep */
.hc-steep .hc-radio-input:checked + .hc-radio-core + .hc-radio-label{
  color:#2296E7;
}
.hc-radio-button.hc-steep .hc-radio-input:checked + .hc-radio-core + .hc-radio-label{
  background-color:#2296E7;
  color:#fff;
  z-index:100;
}
/* outline */
.hc-radio-outline .hc-radio-input:checked + .hc-radio-core{
  border-width:3px;
}
/* radio */
.hc-radio-input:checked + .hc-radio-core{
  border-color: #2296E7;
}
.hc-radio-input:checked + .hc-radio-core:before{
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color:#2296E7;
}