.hc-radio{
  display:inline-flex;
  display:-webkit-inline-flex;
  flex-direction: row;
  align-items:center;
  vertical-align: middle;
}
.hc-radio-input{
  display:none;
}
.hc-radio-core{
  display:inline-flex;
  display:-webkit-inline-flex;
  align-items: center;
  justify-content: center;
  border-color:rgb(211,211,211);
  border-width:1px;
  border-style: solid;
  width:18px;
  height:18px;
  border-radius:50%;
  align-self: center;
}
.hc-radio-core:before{
  content:"";
  display:inline-block;
  width:12px;
  height:12px;
  background-color:#ccc;
  border-radius:50%;
  align-self: center;
  opacity:0;
  transform:scale(0);
  -webkit-transform:scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.hc-radio-label{
  display:inline-block;
  align-self: center;
  font-size:14px;
  padding-left:0.3em;
}
/* ----------------选中------------------ */
.hc-radio-input:checked + .hc-radio-core:before{
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}